/* ==================================================
  Bootstrap 4 grid only
  ================================================== */
@at-root {
@-ms-viewport { width: device-width; }
}

html {
box-sizing: border-box;
-ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

// ----------------------------------------------------
// 1. Core scss files
// ----------------------------------------------------
@import "scss/functions";
@import "scss/variables";
@import "scss/mixins/breakpoints";
@import "scss/mixins/grid-framework";
@import "scss/mixins/grid";

// ----------------------------------------------------
// 2. Variable overrides / customisation:
// ----------------------------------------------------

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

// Grid containers
$container-max-widths: (
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1250px
);
@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
$grid-columns: 12;
$grid-gutter-width: 30px;


// ----------------------------------------------------
// 3. The rest of the required files
// ----------------------------------------------------
@import "scss/grid";
