.how-it-works-section {
	margin: 0 auto;
	max-width: 67rem;
	text-align: center;
	&__title {
		margin-bottom: 2.5rem;
	}
	&__step-box {
		margin-bottom: 4rem;
		img {
			margin-bottom: 1.5rem;
		}
		h3 {
			font-size: 2rem;
			margin-bottom: 1.5rem;
		}
		p {
			margin: 0 auto;
			max-width: 34rem;
		}
	}
}

.products-section {
	&__title {
		&--about-pg {
			text-align: center;
		}
	}
	&__description {
		&--about-pg {
			margin: 0 auto 2rem;
			max-width: 34rem;
			text-align: center;
		}
	}
}

.popular-categories-section {
	margin-bottom: 3rem;
	text-align: center;
	&__caption {
			margin: 0 auto 3rem;
			max-width: 29rem;
	}
	&__catrgories-holder {
		max-width: 67.5rem;
		margin: 0 auto;
		@include flex;
		justify-content:space-between;
		flex-wrap: wrap;
		@include mobile-big {
			flex-wrap: initial;
		}
	}
	&__category-box {
		background-color: #f6f6f9;
		color: $color-dark-blue-light;
		height: 120px;
		width: 47%;
		margin-bottom: 2rem;
		@include flex;
		align-items: center;
		justify-content: center;
		@include mobile-big {
			width: 23%;
		}
		&:hover {
			background-color: $color-dark-blue-light;
			color: #fff;
			text-decoration: none;
		}
		span {
			display: block;
		}
	}
}

.pre-footer-about {
	background-color: #171a3a;
	padding: 2rem 0 10rem;
	margin-bottom: -$push-wrapper-bottom-gap-mobile;
	@include tablet {
		margin-bottom: -$push-wrapper-bottom-gap-tablet-above;
	}
	@include desktop {
		padding: 10rem 0;
	}
	> .container {
		max-width: 100rem;
	}
	&__title {
		color: #fff;
		line-height: 4.5rem;
		margin-bottom: 5rem;
		width: 100%;
		text-align: center;
		@include desktop {
			float: left;
			max-width: 45rem;
			margin-bottom: 2rem;
		}
	}
	&__description {
		color: #fff;
		width: 100%;
		max-width: 45rem;
		margin: 0 auto;
		text-align: center;
		@include desktop {
			float: left;
		}
		p {
			max-width: 25rem;
			margin: 0 auto;
		}
		.btn {
			display: block;
			min-width: 9rem;
			@include mobile-big {
				display: inline-block;
			}
		}
	}
	&__img-holder {
		margin-bottom: 5rem;
		text-align: center;
		@include desktop {
			margin-bottom: 0;
			float: right;
		}
	}
}