/*** START breadcrumbs ***/

.breadcrumbs{
    display: none;


    font-size: $h6-font-size;
    padding:0;
    margin:0 0 1rem 0;
    width:100%;
    -webkit-overflow-scrolling: touch;
    @include desktop {
        display: block;
    }
    .container {
        padding:0;
        width:auto;
    }
    ul {
        border:none;
        margin:0;
        padding:10px 0;
        list-style-type:none;
        li {
            color: $heading-color;
            display:table-cell;
            vertical-align:middle;
            padding:0;
            margin:0;
            padding-right:24px;
            position: relative;

            &:before{
                content: "/";
                color: #b8bdc5;
                position: absolute;
                right: 10px;
            }
            &:last-child {
                &:before{
                    content: "";
                }
            }
            a {
                color: #b8bdc5;
                display:block;
                text-decoration: none;
                vertical-align:center;
                white-space: nowrap;
                span {
                    display:block;
                }
                .title {
                    display:block;
                    max-width:140px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow:ellipsis;
                }
                &:hover .title {
                    color: $color-pink;
                }
            }
        }
    }
}
/*** END breadcrumbs ***/
