.btn {
    border: 0;
    background-image: none;
    color: $black;
    display: inline-block;
    font-weight: $btn-font-weight;
    margin-bottom: 0;
    padding: 1rem 1.5rem;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    white-space: nowrap;
    @include transition(all, .2s, ease-in-out);
    @include user-select(none);
    @include border-radius(2px);

    &:hover, &:active, &:focus {
        text-decoration: none;
    }

    //customized button
        //color
        //bg
        //color hover
        //bg hover
        //border width
        //border color
        //border color hover
    &--primary{
        @include button-customized($white, $btn-primary, $white, $btn-primary-hover, 1px, $btn-primary, $btn-primary-hover);
    }
    &--white{
        @include button-customized($btn-primary, $white, $white, $btn-primary, '', '', '');
    }
    &--white-bordered{
        @include button-customized($white, '', $white, '', 1px, $white, #dddddd);
    }
    &--black-bordered{
        @include button-customized($color-dark-blue, $white, $color-dark-blue, '', 1px, $color-dark-blue, $color-grey-light);
    }
    &--dark-blue{
        @include button-customized($white, $color-dark-blue-medium, $color-pink, $white, '', '', '');
    }
    &--dark-blue-light{
        @include button-customized($white, $color-dark-blue-light, $white, $color-dark-blue, '', '', '');
    }
    &--success{
        @include button-customized($white, $btn-success, $white, $btn-success-hover, '', '', '');
    }
    &--share{
        @include button-customized($color-dark-blue, $white, $color-dark-blue, '', 1px, $color-dark-blue, $color-grey-light);
        line-height: 2.6rem;
        padding: 0.6rem 1.5rem;
        .icon  {
            @extend .sprite;
            @extend .text-off;
            margin-right: 3px;
            width: 24px;
            height: 24px;
            vertical-align: top;
        }

        .facebook{
            background-position: 0 -96px;
        }
        .twitter{
            background-position: 0 -120px;
        }
    }


    &--info{
        @include button-customized($white, $btn-info, $white, $btn-info-hover, 1px, $btn-info, $btn-info-hover);
    }
    &--warning{
        @include button-color($btn-warning);
    }
    &--big {
        @include tablet {
            padding: 1.5rem 4rem;
            font-size: 1.6rem;
        }
    }
}