.cart-page {
	@include desktop {
		padding-top: $content-top-padding;
	}
}

.cart-items-section {
	margin-bottom: 4rem;
	@include desktop {
		padding-right: 7.5rem;
	}
	&__title {
		color: $color-dark-blue-light;
		margin-bottom: 2.8rem;
	}
}
.cart-item-single {
	border-bottom: 1px solid #edeff3;
	padding: 2rem 0;
	&:last-child {
		border-bottom: 0;
	}
	&__top {
		display: flex;
		margin-bottom: 1rem;
		padding-bottom: 3.5rem;
		position: relative;
		@include tablet {
			padding-bottom: 0;
		}
	}
	&__img {
		a {
			border-radius: 4px;
			border: 1px solid #edeff3;
			display: inline-block;
			margin-right: 1.7rem;
			overflow: hidden;
			width: 51px;
			height: 51px;
			@include tablet {
				width: 68px;
				height: 68px;
				margin-right: 1.5rem;
			}
		}
	}
	&__info {
		flex: 1;
		font-weight: 600;
		overflow: hidden;
		padding-top: 0.2rem;
		@include tablet {
			padding-top: 0;
		}
		&-title {
			font-size: 1.7rem;
			margin-bottom: 0.6rem;
			@include tablet {
				font-size: 1.5rem;
				margin-bottom: 0.4rem;
			}
			a {
				@include ellipsis();
				color: $color-dark-blue;
				display: block;
			}
		}
		&-description {
			font-size: 1.2rem;
			margin-bottom: 0.8rem;
			@include ellipsis();
			@include tablet {
				font-size: 1.4rem;
			}
		}
		&-time-left {
			position: absolute;
			left: 0;
			bottom: 0.3rem;
			color: $color-pink;
			font-size: 1.2rem;
			font-weight: normal;
			@include tablet {
				font-weight: 600;
				position: initial;
			}
		}
	}
	&__quantity {
		color: #b8bdc5;
		font-size: 1.5rem;
		padding-left: 1.3rem;
		padding-top: 0.3rem;
		@include tablet {
			align-self: center;
			padding-top: 0;
		}
	}
	&__price {
		font-size: 1.5rem;
		font-weight: 600;
		padding-left: 1.3rem;
		padding-top: 0.3rem;
		@include tablet {
			align-self: center;
			padding-top: 0;
		}
	}
	&__actions {
		position: absolute;
		bottom: 0;
		padding: 0;
		right: 0;
		.btn {
			padding: 0.4rem 1.9rem;
			@include tablet {
				padding: 0.2rem 1.6rem;
			}
		}
		@include tablet {
			align-self: center;
			padding-left: 2.1rem;
			position: initial;
		}
	}
	&__edit {
		background-color: #f6f6f9;
		padding: 1rem 1.5rem;
		@include flex();
		align-items: center;
	}
	&__remove {
		flex: 1;
		a {
			color: $color-grey-dark;
			font-size: 1.2rem;
		}
	}
	&__variation {
		@include flex();
		&-single {
			@include flex();
			align-items: center;
			margin-left: 2rem;
			@include tablet {
				margin-left: 3.5rem;
			}
		}
	}
	&__variation-caption {}
	&__variation-input {
		margin-left: 0.5rem;
	}
	&__variation-select,
	&__variation-number {
		border: 1px solid $color-grey-light;
		height: 40px;
		padding: 0 0.5rem;
	}
	&__variation-select {
		width: 57.5px;
		@include tablet {
			width: 67.5px;
		}
	}
	&__variation-number {
		width: 50px;
		@include tablet {
			width: 60px;
		}
	}
}

.cart-subtotal-section {
	background-color: #f6f6f9;
	margin: 0 -15px 2rem;
	padding: 2.2rem;
	@include desktop {
		margin: 0 0 2rem;
	}
	&__title {
		@include flex();
		margin-bottom: 0.2rem;
		&-caption {
			flex: 1;
			span {
				font-weight: normal;
				padding-left: 0.5rem;
			}
		}
		&-total-value {
			color: $color-green;
		}
	}
	&__description {
		margin-bottom: 1.8rem;
	}
	&__actions {
		.btn {
			@extend .btn--big;
			width: 100%;
		}
	}
}