.category-listing-column {
	display: none;

	font-weight: 700;
	@include tablet {
		display: block;
	}
    &__link {
    	color: $btn-primary;
        margin-bottom: 2.5rem;
        &:hover {
        	color: $btn-primary-hover;
        }
    }
    &__nav{
        padding: 1.6em 1.4em;
        margin: 0;
		&--has-bg {
			background-color: #f6f6f9;
		}
        a {
        	display: inline-block;
        	text-decoration: none;
        }
        &--current > a {
        	color: $color-grey-dark;
        	margin-bottom: 0.8rem;
        }
    }
    &__subnav {
        padding: 0 0 0 2.4rem;
        margin: 0;
        a {
        	color: $color-grey-dark;
        	margin-bottom: 0.8rem;
        	&:hover {
        		color: #5ec8d5;
        	}
        }
    }
}

.category-listing-column-input:checked ~ .category-listing-column {
	display: block;
}

.category-listing-column-btn {
	background: #f6f6f9;
	border-left: 1px solid #edeff3;

	position: relative;
	color: $color-pink;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	line-height: 1.5em;
	margin-bottom: 1.5rem;
	padding: 1rem 2.5rem 1rem 1.5rem;
	@include tablet {
		display: none;
	}
	&:before {
		display: none !important;
	}
	&:after {
		content: "";
		height: 0;
		position: absolute;
		width: 0;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 4px solid $color-pink;
		top: 45%;
		right: 10px;
		-webkit-transition: all 150ms linear;
		transition: all 150ms linear;
	}
}