.target-section {
	.zoomContainer {
		z-index: -1;
		&.active {
			z-index: 1;
		}
	}
	.zoomLens {
		display: none !important;
	}
	.zoomContainer,
	.zoomWindow {
	    left: 7px !important;
	    top: 0 !important;
	    width: calc(100% - 15px) !important;
	}
}