/*** START FOOTER ***/
.footer{
    background: $footer-bg;
    color: $footer-color;
    line-height: 1.7;

    &__nav{
        letter-spacing: -4px;
        li {
            display: inline-block;
            letter-spacing: normal;
            padding: 0 2.8rem 1rem 0;
            transition: 0.4s;
            vertical-align: middle;
            width: 50%;
            @include mobile-big {
                width: 33.333%;
            }
            @include tablet {
                width: auto;
            }
        }
    }

    &__link{
        color: $footer-color;
        text-decoration: none;
        &:hover{
            color: $footer-color;
            opacity: 0.5;
            text-decoration: none;
        }
        &--help {
            @include tablet {
                min-width: 9rem;
                background-color: $btn-primary;
                padding: 0.8rem 1.5rem;
                text-align: center;
                @include transition(all, .2s, ease-in-out);
                @include user-select(none);
                @include border-radius(2px);
                &:hover{
                    background-color: $btn-primary-hover;
                    opacity: 1;
                }
            }
        }
    }
    &__icon{
        float: right;
        a{
            margin-right: 3px;
            opacity: 0.5;
            width: 24px;
            height: 24px;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                opacity: 1;
            }
        }

        .facebook{
            background-position: 0 0;
        }
        .twitter{
            background-position: 0 -24px;
        }
        .instagram{
            background-position: 0 -48px;
        }
        .pinterest{
            background-position: 0 -72px;
        }
    }
    &__rich-text{
        a{
            color: $footer-color;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &__copyrights-bar {
        margin: 1.8rem 0 0 0;
        &__copyrights-text{
            float: left;
        }
    }
}
/*** END FOOTER ***/
