.form-head{
    max-width: 580px;
    padding-left: 115px;
    padding-top: 80px;

    h2{
        font-size: 2rem;
        margin-bottom: 4px;
        @include desktop{
            font-size: 3.6rem;
            letter-spacing: 1px;
        };
    }
    h5{
        font-size: 1.8rem;
        margin-bottom: 30px;
        color: $white;
        @include desktop{
            font-size: 2.4rem;
            letter-spacing: 1px;
        };
    }
    &__info{
        color: #4A4A4A;
    }

}
.form-block {
    max-width: 580px;
    margin: 40px auto 30px auto;

    &-body {

    }
    h3 {
        letter-spacing: 2px;
        padding: 0 10px;
        clear: both;
    }
    &-header {
        h3 { padding: 0; }
    }
    &-group {
        overflow: auto;
        clear: both;
        padding: 0 10px;
        margin-bottom: 12px;

        &--half{
            width: 50%;
            float: left;
            clear: none;
        }

        label {
            display:block;
            text-transform: uppercase;
            font-weight: 600;
            margin: 10px 0;
            letter-spacing: 1px;
            &.error{
                text-transform: inherit;
                color: $error-color-red;
                margin-bottom: 0;
            }
        }
        input {
            width:100%;
            height: 60px;
            border: 2px solid $black;
            padding: 20px;
            letter-spacing: 1px;
            outline: 0;

            &.error{
                border-color: $error-color-red;
            }

        }
        textarea {
            max-width: 100%;
            width: 100%;
            min-height: 220px;
            border: 2px solid $black;
            padding: 20px;
            letter-spacing: 1px;
            outline: 0;
            resize: vertical;

            &.error{
                border-color: $error-color-red;
            }
        }

        input[type="radio"] + label { font-weight: bold; padding-top: 10px; }
    }
    &-terms{
        position: relative;
        &--checkbox{
            input[type=checkbox]{
                left: 0;
                top: 2px;
            }
            input[type=checkbox] + label:before {
                display: none;
            }
            input.error ~ label{
                color: $error-color-red;
            }
        }

    }
    &-msg{
        margin: 20px 0 20px 10px;
        color: #4A4A4A;
    }
    &-terms{
        color: #4A4A4A;
        margin-left: 10px;
        margin-top: 10px;
        padding-left: 30px;
        position: relative;
        width: 300px;
        float: left;
        label{
            &:before{
                width: 20px !important;
                height: 20px !important;
                top: 3px !important;


            }
        }
        input[type=checkbox]:checked + label:before {
            background-position: -62px -412px !important;
        }
    }
    &-footer {
        padding: 20px 10px;
        clear: both;
    }
}
.btn{
    &--submit{
        background: $black;
        color: #fff;
        height: 60px;
        min-width: 160px;
        border-radius: 0;
    }
}
