/*** GENERAL ***/
html{
    font-size: 62.5%; height: 100%;
    @media screen and (max-width: 900px) {
        font-size: 9px;
     }
}

body {
    font: 1.4rem/1.4 '', 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    color: $body-color;
    background-color: $mainBgColor;
}

/* START - Push footer to bottom */
body { display: table; table-layout: fixed; width: 100%; height: 100%; }
.push-wrapper, .footer { display: table-row; }
.push-wrapper { 
    height: auto; 
    &:after { content: ''; display: block; height: $push-wrapper-bottom-gap-mobile; @include tablet{ height: $push-wrapper-bottom-gap-tablet-above; } }
    &--no-margin{ &:after { height: 0; } }
}
.footer { 
    height: 1px; 
    &:before { content: ''; display: block; height: 2.5rem; }
    &:after { content: ''; display: block; height: 2.5rem; }
}
/* END - Push footer to bottom */

.clearfix {
    &:after,
    &:before {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
}

.container {
    max-width: $content-max-width;
}

img {
    max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $bold;
    color: $heading-color;
    line-height: 1.4;
}
h1{
    font-size: 2rem;
    margin-bottom: 20px;
    @include tablet{
        font-size: 2.6rem;
    };
    @include desktop{
        font-size: $h1-font-size;
    };
}
h2{
    font-size: $h2-font-size;
}
h3{
    font-size: $h3-font-size;
}
h4{
    font-size: $h4-font-size;
}
h5{
    font-size: $h5-font-size;
}
h6{
    font-size: $h6-font-size;
}


input, textarea, select, button {
    font: 1.6rem/1.6 '', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    color: $body-color;
    outline: none;
}

a,
.link {
    color: $btn-primary;
    display: inline-block;
    outline: none;
    text-decoration: none;

    &:hover, &:focus, &:active{
        color: $btn-primary-hover;
        text-decoration: none;
    }
}

p{
    line-height: $content-line-height;
    padding: 0 0 1.6rem 0;
    &:first-child{
        padding-top: 0;
    }
    &:last-child{
        padding-bottom: 0;
    }
}
pre {
    background: #f6f6f9;
    border-left: 4px solid #edeff3;
    margin: 0 0 3.1rem 0;
    overflow: auto;
    padding: 1.5rem 2rem;
}

.row-reverse {
    @include flex-direction(row-reverse);
}

.text-off {
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.container{
    padding-left: $content-padding-horizontal;
    padding-right: $content-padding-horizontal;
    @include tablet{
        padding-left: $content-padding-horizontal-tablet-above;
        padding-right: $content-padding-horizontal-tablet-above;
    };
}

.loader {
    background: url('/Library/Images/loading.gif') no-repeat 0 0;
    width: 100px;
    height: 100px;
    display: none;
    &--showing{
        display: inline-block;
    }
}

.sprite {
    background-image: $sprite-path;
    background-repeat: no-repeat;

    @include retina{
        background-image: $sprite-path-2x;
        @include background-size(250px, 250px);
    }
}

.loading{
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgb(255, 255, 255); /* The Fallback */
    background: rgba(255, 255, 255, 0.5);

    &_img{
        position: absolute;
        top: 50%;
        margin-left: -50px;
    }
}

.video-holder {
    margin-bottom: 15px;
    height: 0;
    padding-top: 56.25%;
    position: relative;
    iframe{
        position: absolute;
        height: 100%!important;
        width: 100%!important;
        top: 0;
        right: 0;
    }
}

/*** START Icons ***/
.icon {
    display: inline-block;
    @extend .sprite;
    &--down-arrow {
        width: 16px;
        height: 12px;
        background-position: -85px -380px;
    }
    &--grid{
        width: 26px;
        height: 26px;
        background-position: -59px -474px;
    }
    &--list{
        width: 26px;
        height: 26px;
        background-position: -101px -474px;
    }
    &--dropdown-arrow {
        width: 10px;
        height: 20px;
        background-position: -219px -374px;
    }
}
/*** END Icons ***/

.color-primary {
    color: $btn-primary;
}

.page-listing{
    font-size: 2.4rem;
    @include tablet{
        margin: 100px;
    }
    a {
        color: $black;
    }
}

.right-align{
    text-align: right;
}

/*
.vertical-align-image{
    img{
        width: 100%;
    }
    @include tablet{
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
        img{
            vertical-align: middle !important;
        }
    }
}
*/

/*** END GENERAL ***/

/** INPUT STYLING **/
:root input[type=checkbox] {
    position: absolute;
    left: -1000em;
}

:root input[type=checkbox] + label:before {
    content: "";
    left: 0;
    top: 4px;
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 25px;
    height: 25px;
    @extend .sprite;
    background-position: 100px 100px;
    background-color: white;
}

:root input[type=checkbox]:checked + label:before {
    background-position: -59px -410px;
}

:root input[type=checkbox]:disabled + label:before {
    background-position: 100px 100px;
    background-color: $color-grey;
}

:root input[type=checkbox]:checked:disabled + label:before {
    background-position: 0 -48px;
    background-color: $color-grey;
}



.input-selectbox {
    position: relative;
    width: 100%;
    height: 62px;
    margin: 0 auto;
    border-radius: 0;
    border: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 55px;
    font-size: 1.6rem;
    background: url(../Images/select-dropdown-arrow.svg) no-repeat right white;
    background-size: contain;

    &--half {
        height: 40px;
        padding: 0 20px;
        background: url(../Images/select-dropdown-arrow-half.svg) no-repeat right white;
        width: 100%;

        @include desktop {
            width: calc(49% - 4px);
        }

    }

    &__icon {
        position: absolute;
        left: 38px;
        display: inline-block;
        height: 100%;
        width: 20px;
        z-index: 1;
        background-position: -131px -353px;
        pointer-events: none;
        &--house{
            background-position: -163px -353px;
        }
    }
}

/*** END INPUT STYLING ***/

.search-result-item-list__status{
    position: absolute;
    bottom: 0;
    margin-bottom: 0;

    @include tablet{
        position:inherit;
        bottom: inherit;
        margin-bottom: inherit;
    };
}

/*** END GENERAL ***/


/*** START RICHTEXT ***/
.rich-text {
    a {
    }
}
/*** END RICHTEXT ***/

.hide-mobile{
    display: none;
    @include tablet{
        display: block;
    }
}
.hide-tablet{
    display: none;
    @include desktop{
        display: block;
    }
}
.hide-desktop{
    display: none;
    @include wide-screen{
        display: block;
    }
}

.responsive-image{
    width: 100%;
    height: auto;
}
.responsive-image-sm{
    width: 100%;
    @include tablet{
        width: inherit;
    }
}

.expandable-link {
    .text-hide {
        display: none;
    }
    &.content-shown {
        .text-show {
            display: none;
        }
        .text-hide {
            display: inline-block;
        }
    }
}

.hidden-content {
    background-color: #f6f6f9;
    border: 1px solid #edeff3;
    display: none;
    margin-bottom: 1.5rem; 
    padding: 2rem 3rem;
    &__title {
        font-size: 2rem;
        text-align: center;
    }
    &__img-holder {
        background-color: #fff;
        margin-bottom: 1.5rem; 
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    &__description {}
}

.input-group {
    &__input-wrapper {
        @include flex();
    }
    &__input-field {
        border: 1px solid $color-grey-light;
        border-right-width: 0;
        border-radius: 2px 0px 0px 2px;
        flex: 1 100%;
        height: 40px;
        margin-bottom: 1.5rem;
        padding: 0 1.5rem;
        &--no-border {
            border: 0;
        }
    }
    .btn {
        border-radius: 0 2px 2px 0;
        flex: 1;
        height: 40px;
        margin-bottom: 1.5rem;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.top-banner-section {
    &--about-pg {
        margin-bottom: 6rem;
    }
    &__container {
        padding: 0;
        @include desktop {
            padding: 0 $content-padding-horizontal-tablet-above;
        }
    }
    &__content {
        background-position: center top;
        background-size: cover;
        background-color: #5ec8d5;
        padding: 23rem 1.5rem 2.5rem 1.5rem;
        position: relative;
        @include desktop {
            padding: 15rem 7.5rem;
        }
        &-inner {
            margin: 0 auto;
            text-align: center;
            @include desktop {
                margin: 0;
                text-align: left;
            }
            &--about-pg {
                @include desktop {
                    max-width: 62.5rem;
                }
            }
        }
    }
    &__title {
        color: $white;
        font-size: 3.25rem;
        line-height: normal;
        margin: 0 0 2rem;
        @include desktop {
            font-size: 7.65rem;
            margin: 0 0 5rem;
        }
    }
    &__description {
        padding-bottom: 3rem;
    }
    &__actions {
        .btn {
            display: block;
            margin-bottom: 1rem;
            @include mobile-big {
                display: inline-block;
                margin-right: 1.5rem;
            }
        }
    }
}