﻿/*** HEADER ***/
.main-header-placeholder {
    background-color: $white;
}

.main-header {
    width: 100%;

    @include desktop {
        position: relative;
        z-index: 10;
    }

    &-container {
        width: 100%;
        z-index: 999;
    }

    &-top {
        &-container {
            border-bottom: 1px solid #eeedf2;
        }
        &__logo {
            width: 100px;
            height: $header-height;
            background: url('/Library/Images/logo.png') no-repeat;
            background-size: 100%;
            display: block;
            float: left;
            position: relative;
            margin: 2rem 0;
        }
        &__nav {
            display: none;
            float: right;
            margin: 2.3rem 0 1rem;
            @include desktop {
                display: inline-block;
            }
            ul {
                li {
                    display: inline-block;
                    vertical-align: top;
                    .top-nav-item-link {
                        color: $heading-color;
                        padding: 0 1rem;
                        text-decoration: none;
                        white-space: nowrap;
                        &--active,
                        &:hover, 
                        &:focus, 
                        &:active {
                            color: $color-pink;
                        }
                        &--active {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }

    &-inner {
        width: 100%;
        max-width: $content-max-width;
        margin: 0 auto;
        position: relative;
        height: 100%;
    }

    &-logo {
        width: 100px;
        height: $header-height;
        background: url('/Library/Images/logo.png') no-repeat;
        background-size: 100%;
        display: block;
        float: left;
        position: relative;
    }

    &-button {
        @extend .sprite;
        background-position: -24px 0;
        background-color: transparent;
        font-size: 0;
        margin: 2rem 0;
        width: 38px;
        height: 30px;
        display: block;
        float: right;
        border: none;
        outline: none;

        @include desktop {
            margin-right: 20px;
        }
    }

    &-button.mobile-menu-button {
        @include desktop {
            display: none;
        }
    }
}

.main-nav{
    display: none;
    @include desktop {
        display: inline-block;
    }
}


.main-nav-item {
    float: left;
    &__sub-nav {
        display: none;

        background-color: rgba(255,255,255,0.98);
        @include box-shadow(0px, 3px, 14px, rgba(0,0,0,0.08), inset)
        border: solid 0.5px #edeff3;
        overflow: hidden;
        padding: 1.6rem $content-padding-horizontal-tablet-above 0;
        
        position: absolute;
        left: -$content-padding-horizontal-tablet-above;
        right: -$content-padding-horizontal-tablet-above;
        z-index: 1;
        ul {
            display: inline-block;
            margin-right: 3.75rem;
            vertical-align: top;
            li {
                a {
                    color: #575c5f;
                    display: inline-block;
                    margin-bottom: 2.2rem;
                    text-decoration: none;
                    &:hover {
                        color: $color-pink-dark;
                    }
                }
            }
        }
    }
    &:hover {
        .main-nav-item-link {
            border-bottom-color: $heading-color;
        }
        .main-nav-item__sub-nav {
            display: block;
        }
    }
}
.main-nav-item--current{
    font-weight: $bold;
}

.main-nav-item-link {
    /*line-height: $header-height + 14px;*/
    /*height: $header-height;*/
    border-bottom: 0.3rem solid #fff;
    color: #575c5f;
    display: inline-block;
    letter-spacing: 1px;
    margin-right: 2.2rem;
    padding: 1.8rem 0 1.4rem;
    text-decoration: none !important;
    white-space: nowrap;
    &:hover, 
    &:focus, 
    &:active {
        color: #333;
    }
}

/*** END HEADER ***/
