@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($x, $y, $blur, $color, $inset: "") {
    -webkit-box-shadow: $x $y $blur $color unquote($inset);
    -moz-box-shadow: $x $y $blur $color unquote($inset);
    box-shadow: $x $y $blur $color unquote($inset);
}

@mixin background-size($width, $height) {
    -webkit-background-size: $width $height;
    -moz-background-size: $width $height;
    background-size: $width $height;
}

@mixin box-sizing($type){ -moz-box-sizing: $type; -webkit-box-sizing: $type; box-sizing: $type; }


@mixin mobile-big{
    @media only screen and (min-width: $breakpoints-sm) {
        @content;
    }
}
@mixin tablet{
    @media only screen and (min-width: $breakpoints-md) {
        @content;
    }
}
@mixin desktop{
    @media only screen and (min-width: $breakpoints-lg) {
        @content;
    }
}
@mixin wide-screen{
    @media only screen and (min-width: $breakpoints-xl) {
        @content;
    }
}

@mixin retina {
  @media
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 1.5/1),
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
    @content;
  }
}

@mixin placeholder-text($color, $style: normal, $weight: normal) {
    &::-webkit-input-placeholder { color: $color; font-style: $style; font-weight: $weight; }
    &:-moz-placeholder { color: $color; font-style: $style; font-weight: $weight; }
    &::-moz-placeholder { color: $color; font-style: $style; font-weight: $weight; }
    &:-ms-input-placeholder { color: $color; font-style: $style; font-weight: $weight; }
}

@mixin link($color) {
    a { color: $color; }
    a:hover { text-decoration: underline; }
}

@mixin button-color($color) {
    color: $color;
    border-color: $color;
    &:hover, &:active, &:focus{
        background-color: $color;
        border-color: $color;
        color: $white;
    }
}

@mixin button-color-solid($color) {

    background-color: $color;
    border-color: $color;
    color: $white;
    &:hover, &:active, &:focus{
        color: $color;
        border-color: $color;
        background-color: $white;
    }
}

@mixin button-customized($color, $bg, $colorhover, $bghover, $borderW, $borderColor, $borderColorHover) {

    background-color: $bg;
    border: $borderW solid $borderColor;
    color: $color;
    &:hover, &:active, &:focus{
        color: $colorhover;
        border-color: $borderColorHover;
        background-color: $bghover;
    }
}

@mixin tag-color($color) {
    color: $color;
    border-color: $color;
}


@mixin transition($what, $timing, $time) {
    -moz-transition: $what $timing $time;
    -o-transition: $what $timing $time;
    -webkit-transition: $what $timing $time;
    transition: $what $timing $time;
}

@mixin user-select($select){
    -webkit-user-select: $select;
    -moz-user-select: $select;
    -ms-user-select: $select;
}

@mixin box-sizing($value){
    -moz-box-sizing: $value; -webkit-box-sizing: $value; box-sizing: $value;
}

@mixin multi-text-ellipsis($line-height, $max-lines){
  display: -webkit-box!important; line-height:$line-height; max-height: $line-height*$max-lines+px; -webkit-line-clamp: $max-lines; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;
}

@mixin calc-width($expression, $fallback){
    width: $fallback; width: -moz-calc(#{$expression}); width: -webkit-calc(#{$expression}); width: calc(#{$expression});
}

@mixin ellipsis(){
    white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis;
}

@mixin ellipsisDisabled(){
    white-space: inherit; overflow: visible; -ms-text-overflow: inherit; -o-text-overflow: inherit; text-overflow: inherit;
}

@mixin rotate($degrees){
  -ms-transform: rotate($degrees); -webkit-transform: rotate($degrees); transform: rotate($degrees);
}

@mixin appearance($value) {
    -webkit-appearance: $value;
    -moz-appearance: $value;
    appearance: $value;
}

@mixin transform($x, $y) {
    -moz-transform: translateY($y) translateX($x);
    -ms-transform: translateY($y) translateX($x);
    -o-transform: translateY($y) translateX($x);
    -webkit-transform: translateY($y) translateX($x);
    transform: translateY($y) translateX($x);
}

@mixin transform-rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -o-transform: rotate($deg);
    -ms-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin linear-gradient($deg, $color1, $color2) {
    background-image: -webkit-linear-gradient($deg, $color1, $color2);
    background-image: linear-gradient($deg, $color1, $color2);
}

@mixin flex {
    display: -webkit-flex;
    display: flex;
}

@mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
    flex-direction: $direction; 
}

%border-box { @include box-sizing(border-box); }
%letter-spaced { letter-spacing: 0.75px; }
%ellipsis { @include ellipsis(); }
%wordwrap { -ms-word-wrap: break-word; word-wrap: break-word; }
%center { text-align: center; }
%pretty-scrollbars {
    &::-webkit-scrollbar { -webkit-appearance: none;  width: 4px; }
    &::-webkit-scrollbar-track {   }
    &::-webkit-scrollbar-thumb {  background-color: #FFF; box-shadow: 0 0 1px #ffffff; box-shadow: 0 0 1px rgba(255,255,255,.4); }
}

%side-nav-link { font-size: 1.3em; color: #b7b7b7; font-weight: bold; text-transform: uppercase; width: 100%; }
%absolute-center { position: absolute; top:0; left:0; bottom:0; right:0; margin: auto; }
