.mobile-nav {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-y: hidden;
    transition: 0.5s;

    &__content {
        position: relative;
        top: 120px;
        width: 100%;
        text-align: center;
    }
    &__item{
        position: relative;

        &.active{

            .mobile-nav__toggle-level {
                @include transform-rotate(-180deg);
                transition:        transform 200ms ease;
                -moz-transition:    -moz-transform 200ms ease;
                -ms-transition:     -ms-transform 200ms ease;
                -o-transition:      -o-transform 200ms ease;
                -webkit-transition: -webkit-transform 200ms ease;
            }

        }
    }
    &__item-link {
        padding: 8px 50px 8px 0;
        text-decoration: none;
        display: block;
        transition: 0.3s;
        &:hover, &:focus{
            text-decoration: underline;
        }
    }
    &__closebtn {
        position: absolute;
        top: 11px;
        right: 2px;
        color: $body-color;
        font-size: 6rem;
        line-height: 36px;
        text-decoration: none;
        padding: 0 20px 0 21px;

        &:before{
            content: "";
            display: block;
            position: absolute;
            border: 3px solid $body-color;;
            border-radius: 50%;
            width: 46px;
            height: 46px;
            left: 15px;
            top: -3px;
        }
        &:hover, &:active, &:focus{
            color: $body-color;
            text-decoration: none;
        }
    }

    &__toggle-level{
        position: absolute;
        right: 40px;
        top: 14px;
        z-index: 99;
        cursor: pointer;
        width: 40px;
        height: 40px;



        &:before{
            content: "";
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 12px solid #000;
            position: absolute;
            right: 10px;
            top: 14px;
        }
    }

    .has-children{
        ul{
            display: none;
            font-size: 2.4rem;
            padding-right: 40px;
            a{
                color: #4A4A4A;
            }
        }

    }
}

@media screen and (max-height: 450px) {
  .mobile-nav {
      overflow-y: auto;
  }
}
