.header-after-section {
	@include linear-gradient(91deg, $color-dark-blue-light, $color-pink);
	color: #fff;
	margin-bottom: 3.4rem;
	padding: 5rem 0 5.1rem;

	&__title {
		color: #fff;
		font-size: 2.5rem;
		@include tablet {
			font-size: 4rem;
		}
	}
	&__description {
		display: none;
		font-weight: 700;
		line-height: 2.3rem;
		max-width: 575px;
		padding: 0;
		@include desktop {
			display: block;
		}
	}
}

.products-section {
	margin-bottom: 4rem;
	&__title {
		color: $heading-color;
		margin: 0 0 1.5rem;
		&--sm {
			color: $color-dark-blue-light;
			font-size: 1.7rem;
		}
		.link-ahead {
			font-size: 1.4rem;
			margin-left: 1.5rem;
			display: none;
			@include desktop {
				display: inline-block;
			}
		}
		.link-right-most {
			float: right;
			font-size: 1.4rem;
			font-weight: normal;
			margin-left: 1.5rem;
			display: none;
			@include desktop {
				display: inline-block;
			}
		}
	}
	&__item {
		margin-bottom: 2.5rem;
		&-container {
			display: block;
			position: relative;
			text-decoration: none;
			@include tablet {
				text-align: center;
			}
			&:hover {
				text-decoration: none;
			}
			span {
				display: block;
			}
		}
		&-img-holder {
			margin-bottom: 0.5rem;
		}
		&-name {
			color: $heading-color;
			font-size: 1.3rem;
			font-weight: 700;
			@include ellipsis();
			@include desktop {
				white-space: nowrap;
			}
			&--overlap {
				font-size: 2rem;
				margin: 0 0 0 2rem;
				max-width: 10rem;
				text-align: left;
				position: absolute;
				left: 0;
				right: 0;
				top: 50%;
				@include ellipsisDisabled();
				@include transform(0, -50%);
				@include tablet {
					margin: 0 0 0 4rem;
				}
			}
		}
		&-meta {
			color: $product-meta-color;
			font-size: 1.2rem;
			@include ellipsis();
			@include desktop {
				white-space: nowrap;
			}
		}
	}
}

.related-categories-section {
	text-align: center;
	@include tablet {
		text-align: left;
	}
	&__title {
		font-size: 1.3rem;
		font-weight: normal;
		margin-bottom: 1.8rem;
	}
	.btn {
		font-size: 1.2rem;
		margin: 0 1rem 3.2rem 0;
		padding: 0.6rem 1rem;
		vertical-align: top;
		&:hover {
			text-decoration: none;
		}
	}
}

.product-image-section {
	margin-bottom: 2.5rem;
	position: relative;
	&__img-holder {
		text-align: center;
		img {
			max-height: 522px;
		}
	}
	&__img-gallery {
		@include desktop {
			position: absolute;
			left: 0;
			top: 0;
		}
		ul {
			li {
				border: 1px solid #edeff3;
				border-radius: 3px;
				display: inline-block;
				height: 5rem;
				margin: 0 0 1rem 0;
				overflow: hidden;
				vertical-align: top;
				width: 5rem;
				@include desktop {
					display: block;
				}
				img {
					display: block;
					opacity: 0.5;
				}
				&:hover,
				&.active {
					border-color: $color-pink;
					opacity: 1;
				}
			}
		}
	}
	&.fixed {
	}
}

.product-top-details-section {
	margin-bottom: 2.5rem;
	&__title {
		margin-bottom: 0.4rem;
	}
	&__vendor {
		font-size: 1.2rem;
	}
	&__short-description {
		margin-top: 2rem;
		p {
			line-height: 2.6rem;
			padding: 0 0 2.8rem;
		}
	}
	&__options {
		background-color: #f6f6f9;
		border: 1px solid #edeff3;
		border-radius: 2px;
		padding: 2.5rem 1.6rem 0 1.6rem;
		&-label {
			font-size: 1.2rem;
			font-weight: 700;
			margin-bottom: 0.3rem;
		}
		&-dropdown {
			select {
				border: 1px solid $color-grey-light;
				border-radius: 2px;
				color: $heading-color;
				margin-bottom: 1.1rem;
				padding: 1.1rem 1rem;
				width: 100%;
			}
		}
		&-products {
			margin-bottom: 2.9rem;
			ul {
				letter-spacing: -4px;
				li {
					border: 2px solid #edeff3;
					border-radius: 3px;
					display: inline-block;
					height: 5.3rem;
					letter-spacing: normal;
					margin: 0 1rem 1rem 0;
					overflow: hidden;
					transition: all 400ms ease-out;
					vertical-align: top;
					width: 7.5rem;
					img {
						display: block;
						opacity: 0.5;
					}
					&:hover,
					&.active {
						border-color: $color-pink;
						opacity: 1;
					}
				}
			}
		}
		&-size-search {
			font-size: 1.1rem;
			margin-bottom: 2.6rem;
			a {
				color: $color-pink;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
		&-color-palette {
			margin-bottom: 1.6rem;
			ul {
				letter-spacing: -4px;
				margin-top: 0.9rem;
				li {
					background: #fff;
					border: 1px solid $color-grey-light;
					border-radius: 100%;
					cursor: pointer;
					display: inline-block;
					height: 36px;
					padding: 0.3rem;
					letter-spacing: normal;
					margin: 0 1.1rem 1rem 0;
					position: relative;
					vertical-align: top;
					width: 36px;
					span {
						border-radius: 100%;
						position: absolute;
						top: 0.3rem;
						right: 0.3rem;
						bottom: 0.3rem;
						left: 0.3rem;
					}
					&:hover,
					&.active {
						border-color: $color-pink;
					}
				}
			}
		}
		&-actions {
			.btn {
				border-radius: 0 0 2px 2px;
				display: block;
				margin: 0 -1.7rem;
			}
		}
	}
	.zoomContainer {
		display: none;
		@include desktop {
			display: block;
		}
	}
}

.product-description-section {
	&__block-single {
		margin-bottom: 2rem;
	}
	&__title-holder {
		border-bottom: 1px solid #edeff3;
		margin-bottom: 0.7rem;
		padding-bottom: 0.1rem;
	}
	h4 {
		font-weight: normal;
	}
	p {
		font-size: 1.3rem;
		line-height: 2.2rem;
		padding: 0 0 0.5rem;
	}
	ul {
		li {
			padding: 0 0 0.5rem 1.8rem;
		}
	}
	a {
		color: #428c95;
		font-weight: 600;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

.product-sharing-section {
	margin: 0.5rem auto 3rem auto;
	@include desktop {
		max-width: 340px;
	}
	&__title {
		font-weight: normal;
		margin-bottom: 2rem;
		text-align: center;
	}
	&__buttons-holder {
		letter-spacing: -4px;
		margin: 0 -0.8rem 1rem;
		.btn {
			letter-spacing: normal;
			margin: 0 0.8rem 1rem;
			width: calc(50% - 1.6rem);
		}
	}
	&__report-about {
		@include desktop {
			text-align: center;
		}
		a {
			color: $color-grey-dark;
			font-size: 1.2rem;
			&:hover {
				color: $color-pink-dark;
				text-decoration: none;
			}
		}
	}
}