﻿.search-section {
	&__container {
		padding: 0;
		@include desktop {
			padding: 0 $content-padding-horizontal-tablet-above;
		}
	}
	&__content {
		background-position: center top;
		background-size: cover;
		min-height: 30rem;
		padding-top: 36.25%;
		position: relative;
		&-inner {
			margin: 0 auto;
			padding: 0 3rem;
			max-width: 550px;
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			text-align: center;
			@include transform(0, -50%);
			@include desktop {
				margin: 0 8rem;
				text-align: left;
			}
		}
	}
	&__title {
		color: $white;
		font-size: 3.25rem;
		line-height: normal;
		margin: 0 0 2rem;
		@include desktop {
			font-size: 7.65rem;
			margin: 0 0 5rem;
		}
	}
	.input-group {
		&__input-wrapper {
			margin: 0 auto;
			max-width: 285px;
			@include desktop {
				margin: 0;
				max-width: 390px;
			}
		}
		&__input-field {
			border: 0;
			margin: 0;
		}
		.btn {
			margin: 0;
			padding: 0;
			min-width: 75px;
		}
	}
}

.design-own-section {
	margin-bottom: 5rem;
	&__container {
		padding: 0;
		@include desktop {
			padding: 0 $content-padding-horizontal-tablet-above;
		}
	}
	&__content {
		background-color: $color-dark-blue;
		color: $white;
		padding: 1.5rem 1rem;
		text-align: center;
		p {
			margin: 0 0 1rem 0;
			@include desktop {
				display: inline;
				margin: 0 1rem 0 0;
			}
			span {
				font-weight: 700;
			}
		}
	}
}

.enlarged-img-section {
	margin-bottom: 7rem;
	&__left-wrap {
		@include tablet {
			padding-right: 0;
		}
	}
	&__right-wrap {
		@include tablet {
			padding-left: 0;
		}
	}
	&__image {
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat; 
		height: 23rem;
		@include tablet {
			height: 100%;
		}
	}
	&__content-wrap {
		align-items: center;
		display: flex;
		justify-content: center;
	}
	&__content {
		padding: 3rem 25%;
		text-align: center;
		width: 100%;
		@include tablet {
			padding: 10rem 12% 11.5rem;
			text-align: left;
		}
		h3 {
			color: #f41e68;
			display: none;
			font-size: 3rem;
			line-height: 2.5rem;
			@include tablet {
				display: block;
				font-size: 6rem;
				line-height: 5rem;
			}
		}
		h4 {
			color: #fff;
			font-size: 2.5rem;
			line-height: 3rem;
			@include tablet {
				font-size: 5rem;
				line-height: 6rem;
			}
		}
		p {
			color: #fff;
			font-size: 1.4rem;
			@include tablet {
				font-size: 2.5rem;
			}
		}
		.btn {
			margin-top: 2.5rem;
			@include tablet {
				min-width: 20rem;
				margin-top: 10.5rem;
			}
			&--over-img-after {
				position: absolute;
				left: 0;
				right: 0;
				bottom: -1.5rem;
				z-index: 1;
				max-width: 150px;
				margin: 0 auto;
				@include tablet {
					margin-top: 10.5rem;
					position: initial;
				}
			}
		}
	}
}

.video-section {
	&__wrap {
		padding: 2rem;
		@include tablet {
			padding: 6rem;
		}
	}
	&__content-wrap {
		align-items: center;
		display: flex;
		justify-content: center;
	}
	&__content {
		text-align: center;
		@include tablet {
			text-align: left;
		}
		h4 {
			color: $color-dark-blue-light;
			font-size: 3rem;
			margin-bottom: 1.8rem;
		}
		p {
			display: none;
			line-height: 3rem;
			@include tablet {
				display: block;
			}
		}
		.btn {
			display: none;
			@include tablet {
				display: inline-block;
			}
		}
	}
}