.subpage{
    padding-top: $content-top-padding;

    h1,
    h2 {
        color: $color-dark-blue-light;
        font-size: 3rem;
        margin: 0 0 2.7rem 0;
        @include tablet {
            font-size: 4rem;
        }
    }
    h3 {
        color: $color-dark-blue-light;
        font-size: 2.5rem;
        margin: 0 0 2rem 0;
        @include tablet {
            font-size: 3rem;
        }
    }
    h4 {
        color: $color-dark-blue-light;
        font-size: 1.5rem;
        margin: 0 0 1rem 0;
        @include tablet {
            font-size: 2rem;
        }
    }
    .style-disc {
        margin: 0 0 1.6rem 0;
        padding-left: 2rem;
        li {
            display: list-item;
            line-height: $content-line-height;
            list-style-type: disc;
            margin-bottom: 1.6rem; 
            &:last-child {
                margin-bottom: 0; 
            }
        }
    }

}

.page-listing-column {
    &__title {
        color: $color-grey-dark;
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 3.4rem;
    }
    &__nav{
        padding: 0;
        margin: 0;
        li {
            a {
                border-radius: 5px;
                color: #b8bdc5;
                display: inline-block;
                font-weight: 700;
                margin-bottom: 0.8rem;
                padding: 0.8rem 1.5rem;
                text-decoration: none;
                &:hover {
                    opacity: 0.5;
                }
            }
            &.current {
                a {
                    background-color: #5ec8d5;
                    color: #fff;
                    cursor: default;
                    pointer-events: none;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
