.track-order-section {
	&__content {}
	&__image-container {
		display: none;
		text-align: center;
		@include tablet {
			display: block;
		}
	}
	.input-group {
		&__input-wrapper {
			flex-flow: row wrap;
			@include tablet {
				flex-wrap: nowrap;
			}
		}
		&__input-field {
			border-right-width: 1px;
		}
		.btn {
			@include tablet {
				margin-left: 4.4rem;
			}
		}
	}
}