﻿/*** Paths ***/
$sprite-path: url('/Library/Images/sprite.png');
$sprite-path-2x: url('/Library/Images/sprite@2x.png');
/*** END Paths*/

$push-wrapper-bottom-gap-mobile: 6rem;
$push-wrapper-bottom-gap-tablet-above: 8rem;


/*** SIZES ***/
$h1-font-size: 4rem;
$h2-font-size: 2.6rem;
$h3-font-size: 1.8rem;
$h4-font-size: 1.6rem;
$h5-font-size: 1.4rem;
$h6-font-size: 1.2rem;
/*** END SIZES ***/

/*** COLORS ***/
$mainBgColor: 			 	$white;
$linkColor: 				#ff4143;
$color-blue:             	#30AAE1;
$color-blue-light:       	#83CEEA;
$color-blue-dark:       	#428c95;
$color-orange:           	#f0ad4e;
$color-orange-light:     	#ec971f;
$color-pink:             	#ee2761;
$color-pink-dark:        	#af1e48;
$color-red:              	#FF0000;
$color-green:            	#32b259;
$color-green-dark:       	#12652c;
$color-grey:             	#EAEAEA;
$color-grey-dark:        	#6a6f72;
$color-grey-light:        	#d8dae0;
$color-dark-blue:        	#212032;
$color-dark-blue-medium: 	#282365;
$color-dark-blue-light:		#282562;



/*** END COLORS ***/

$body-color:            $color-dark-blue;
$body-bg:               $white;
$heading-color:         #0a0918;
$product-meta-color:    $color-grey-dark;
$footer-color:          $white;
$footer-bg:             $color-dark-blue-light;
$button-border-color:   $color-orange-light;
$error-color-pink:      $color-pink;
$error-color-red:       $color-red;
$search-bg-color:       $color-orange-light;

$header-height:         						30px;
/*$content-max-width:     						1220px;*/
$content-max-width:     						100%;
$content-padding-horizontal:     				15px;
$content-padding-horizontal-tablet-above:     	60px;
$content-line-height:   						2.75rem;
$content-top-padding:							5rem;

$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;


$normal:    400;
$medium:    500;
$bold:      700;

//button
$btn-font-weight            :$bold;
$btn-primary                :$color-pink;
$btn-primary-hover          :$color-pink-dark;
$btn-success                :$color-green;
$btn-success-hover          :$color-green-dark;
$btn-info                   :$color-blue;
$btn-info-hover             :$color-blue-dark;
$btn-warning                :$color-orange;
$btn-warning-hover          :$color-orange-light;
$btn-hover-color            :$white;


/*** TRANSITIONS ***/
$mobile-nav-trans: margin .2s ease-out;
/*** END TRANSITIONS ***/

// Pagination

$pagination-padding-y:                .5rem;
$pagination-padding-x:                1.2rem;
$pagination-padding-y-sm:             .25rem;
$pagination-padding-x-sm:             .5rem;
$pagination-padding-y-lg:             .75rem;
$pagination-padding-x-lg:             1.5rem;
$pagination-line-height:              1.25;

$pagination-color:                     #b8bdc5;
$pagination-bg:                        $white;
$pagination-border-width:              0;
$pagination-border-color:              #ddd;

$pagination-hover-color:               #5ec8d5;
$pagination-hover-bg:                  transparent;
$pagination-hover-border-color:        #ddd;

$pagination-active-color:              $heading-color;
$pagination-active-bg:                 transparent;
$pagination-active-border-color:       theme-color("primary");

$pagination-disabled-color:            $gray-600;
$pagination-disabled-bg:               $white;
$pagination-disabled-border-color:     #ddd;

$line-height-computed:                 1rem;
$border-radius-base:                   .25rem;
$padding-base-vertical:                $pagination-padding-y;
$padding-base-horizontal:              $pagination-padding-x;
$line-height-base:                     $pagination-line-height;
$pagination-border:                    $pagination-border-color;
$pagination-hover-border:              $pagination-active-border-color;
$pagination-active-border:             $pagination-active-border-color;
$pagination-disabled-border:           $pagination-disabled-border-color;
$cursor-disabled:                      default;

$padding-large-vertical:               $pagination-padding-y-lg;
$padding-large-horizontal:             $pagination-padding-x-lg;

$padding-small-vertical:               $pagination-padding-y-sm;
$padding-small-horizontal:             $pagination-padding-x-sm;

$font-size-large:                      1.8rem;
$line-height-large:                    1.3;
$border-radius-large:                  0.6rem;

$font-size-small:                      1.2rem;
$line-height-small:                    1.5;
$border-radius-small:                  0.3rem;