/*** GENERAL ***/
/*** RESET ***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  /*position: absolute;*/
  line-height: 1;
  width: 100%; }

ol, ul {
  list-style: none; }

ul, li {
  list-style-image: none;
  margin: 0; }

b, strong {
  font-weight: bold; }

em, i {
  font-style: italic; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, textarea, button {
  -webkit-appearance: none; }

button, input[type="submit"] {
  cursor: pointer; }

/*** END RESET ***/
/* ==================================================
  Bootstrap 4 grid only
  ================================================== */
@-ms-viewport {
  width: device-width; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; }
  @media (min-width: 576px) {
    .container {
      max-width: 768px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 992px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 1200px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1250px; } }

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.order-1 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

.order-2 {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }

.order-3 {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3; }

.order-4 {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4; }

.order-5 {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5; }

.order-6 {
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
  order: 6; }

.order-7 {
  -webkit-box-ordinal-group: 8;
  -ms-flex-order: 7;
  order: 7; }

.order-8 {
  -webkit-box-ordinal-group: 9;
  -ms-flex-order: 8;
  order: 8; }

.order-9 {
  -webkit-box-ordinal-group: 10;
  -ms-flex-order: 9;
  order: 9; }

.order-10 {
  -webkit-box-ordinal-group: 11;
  -ms-flex-order: 10;
  order: 10; }

.order-11 {
  -webkit-box-ordinal-group: 12;
  -ms-flex-order: 11;
  order: 11; }

.order-12 {
  -webkit-box-ordinal-group: 13;
  -ms-flex-order: 12;
  order: 12; }

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .order-sm-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .order-sm-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .order-sm-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .order-sm-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .order-sm-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .order-sm-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }
  .order-sm-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7; }
  .order-sm-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8; }
  .order-sm-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9; }
  .order-sm-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; }
  .order-sm-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11; }
  .order-sm-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12; } }

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .order-md-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .order-md-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .order-md-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .order-md-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .order-md-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .order-md-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }
  .order-md-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7; }
  .order-md-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8; }
  .order-md-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9; }
  .order-md-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; }
  .order-md-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11; }
  .order-md-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12; } }

@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .order-lg-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .order-lg-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .order-lg-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .order-lg-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .order-lg-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .order-lg-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }
  .order-lg-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7; }
  .order-lg-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8; }
  .order-lg-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9; }
  .order-lg-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; }
  .order-lg-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11; }
  .order-lg-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12; } }

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .order-xl-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .order-xl-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .order-xl-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .order-xl-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .order-xl-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .order-xl-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }
  .order-xl-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7; }
  .order-xl-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8; }
  .order-xl-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9; }
  .order-xl-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10; }
  .order-xl-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11; }
  .order-xl-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12; } }

/*** Paths ***/
/*** END Paths*/
/*** SIZES ***/
/*** END SIZES ***/
/*** COLORS ***/
/*** END COLORS ***/
/*$content-max-width:     						1220px;*/
/*** TRANSITIONS ***/
/*** END TRANSITIONS ***/
/*** GENERAL ***/
html {
  font-size: 62.5%;
  height: 100%; }
  @media screen and (max-width: 900px) {
    html {
      font-size: 9px; } }

body {
  font: 1.4rem/1.4 '', 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  color: #212032;
  background-color: #fff; }

/* START - Push footer to bottom */
body {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%; }

.push-wrapper, .footer {
  display: table-row; }

.push-wrapper {
  height: auto; }
  .push-wrapper:after {
    content: '';
    display: block;
    height: 6rem; }
    @media only screen and (min-width: 768px) {
      .push-wrapper:after {
        height: 8rem; } }
  .push-wrapper--no-margin:after {
    height: 0; }

.footer {
  height: 1px; }
  .footer:before {
    content: '';
    display: block;
    height: 2.5rem; }
  .footer:after {
    content: '';
    display: block;
    height: 2.5rem; }

/* END - Push footer to bottom */
.clearfix:after, .clearfix:before {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both; }

.container {
  max-width: 100%; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #0a0918;
  line-height: 1.4; }

h1 {
  font-size: 2rem;
  margin-bottom: 20px; }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 2.6rem; } }
  @media only screen and (min-width: 992px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-size: 2.6rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.2rem; }

input, textarea, select, button {
  font: 1.6rem/1.6 '', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  color: #212032;
  outline: none; }

a,
.link {
  color: #ee2761;
  display: inline-block;
  outline: none;
  text-decoration: none; }
  a:hover, a:focus, a:active,
  .link:hover,
  .link:focus,
  .link:active {
    color: #af1e48;
    text-decoration: none; }

p {
  line-height: 2.75rem;
  padding: 0 0 1.6rem 0; }
  p:first-child {
    padding-top: 0; }
  p:last-child {
    padding-bottom: 0; }

pre {
  background: #f6f6f9;
  border-left: 4px solid #edeff3;
  margin: 0 0 3.1rem 0;
  overflow: auto;
  padding: 1.5rem 2rem; }

.row-reverse {
  -webkit-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.text-off, .btn--share .icon {
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.container {
  padding-left: 15px;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .container {
      padding-left: 60px;
      padding-right: 60px; } }

.loader {
  background: url("/Library/Images/loading.gif") no-repeat 0 0;
  width: 100px;
  height: 100px;
  display: none; }
  .loader--showing {
    display: inline-block; }

.sprite, .icon, :root input[type=checkbox] + label:before, .btn--share .icon, .main-header-button {
  background-image: url("/Library/Images/sprite.png");
  background-repeat: no-repeat; }
  @media only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .sprite, .icon, :root input[type=checkbox] + label:before, .btn--share .icon, .main-header-button {
      background-image: url("/Library/Images/sprite@2x.png");
      -webkit-background-size: 250px 250px;
      -moz-background-size: 250px 250px;
      background-size: 250px 250px; } }

.loading {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: white;
  /* The Fallback */
  background: rgba(255, 255, 255, 0.5); }
  .loading_img {
    position: absolute;
    top: 50%;
    margin-left: -50px; }

.video-holder {
  margin-bottom: 15px;
  height: 0;
  padding-top: 56.25%;
  position: relative; }
  .video-holder iframe {
    position: absolute;
    height: 100% !important;
    width: 100% !important;
    top: 0;
    right: 0; }

/*** START Icons ***/
.icon {
  display: inline-block; }
  .icon--down-arrow {
    width: 16px;
    height: 12px;
    background-position: -85px -380px; }
  .icon--grid {
    width: 26px;
    height: 26px;
    background-position: -59px -474px; }
  .icon--list {
    width: 26px;
    height: 26px;
    background-position: -101px -474px; }
  .icon--dropdown-arrow {
    width: 10px;
    height: 20px;
    background-position: -219px -374px; }

/*** END Icons ***/
.color-primary {
  color: #ee2761; }

.page-listing {
  font-size: 2.4rem; }
  @media only screen and (min-width: 768px) {
    .page-listing {
      margin: 100px; } }
  .page-listing a {
    color: #000; }

.right-align {
  text-align: right; }

/*
.vertical-align-image{
    img{
        width: 100%;
    }
    @include tablet{
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
        img{
            vertical-align: middle !important;
        }
    }
}
*/
/*** END GENERAL ***/
/** INPUT STYLING **/
:root input[type=checkbox] {
  position: absolute;
  left: -1000em; }

:root input[type=checkbox] + label:before {
  content: "";
  left: 0;
  top: 4px;
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 25px;
  height: 25px;
  background-position: 100px 100px;
  background-color: white; }

:root input[type=checkbox]:checked + label:before {
  background-position: -59px -410px; }

:root input[type=checkbox]:disabled + label:before {
  background-position: 100px 100px;
  background-color: #EAEAEA; }

:root input[type=checkbox]:checked:disabled + label:before {
  background-position: 0 -48px;
  background-color: #EAEAEA; }

.input-selectbox {
  position: relative;
  width: 100%;
  height: 62px;
  margin: 0 auto;
  border-radius: 0;
  border: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 55px;
  font-size: 1.6rem;
  background: url(../Images/select-dropdown-arrow.svg) no-repeat right white;
  background-size: contain; }
  .input-selectbox--half {
    height: 40px;
    padding: 0 20px;
    background: url(../Images/select-dropdown-arrow-half.svg) no-repeat right white;
    width: 100%; }
    @media only screen and (min-width: 992px) {
      .input-selectbox--half {
        width: calc(49% - 4px); } }
  .input-selectbox__icon {
    position: absolute;
    left: 38px;
    display: inline-block;
    height: 100%;
    width: 20px;
    z-index: 1;
    background-position: -131px -353px;
    pointer-events: none; }
    .input-selectbox__icon--house {
      background-position: -163px -353px; }

/*** END INPUT STYLING ***/
.search-result-item-list__status {
  position: absolute;
  bottom: 0;
  margin-bottom: 0; }
  @media only screen and (min-width: 768px) {
    .search-result-item-list__status {
      position: inherit;
      bottom: inherit;
      margin-bottom: inherit; } }

/*** END GENERAL ***/
/*** START RICHTEXT ***/
/*** END RICHTEXT ***/
.hide-mobile {
  display: none; }
  @media only screen and (min-width: 768px) {
    .hide-mobile {
      display: block; } }

.hide-tablet {
  display: none; }
  @media only screen and (min-width: 992px) {
    .hide-tablet {
      display: block; } }

.hide-desktop {
  display: none; }
  @media only screen and (min-width: 1200px) {
    .hide-desktop {
      display: block; } }

.responsive-image {
  width: 100%;
  height: auto; }

.responsive-image-sm {
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .responsive-image-sm {
      width: inherit; } }

.expandable-link .text-hide {
  display: none; }

.expandable-link.content-shown .text-show {
  display: none; }

.expandable-link.content-shown .text-hide {
  display: inline-block; }

.hidden-content {
  background-color: #f6f6f9;
  border: 1px solid #edeff3;
  display: none;
  margin-bottom: 1.5rem;
  padding: 2rem 3rem; }
  .hidden-content__title {
    font-size: 2rem;
    text-align: center; }
  .hidden-content__img-holder {
    background-color: #fff;
    margin-bottom: 1.5rem;
    text-align: center; }
    .hidden-content__img-holder img {
      display: block;
      margin: 0 auto; }

.input-group__input-wrapper {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.input-group__input-field {
  border: 1px solid #d8dae0;
  border-right-width: 0;
  border-radius: 2px 0px 0px 2px;
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
  height: 40px;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem; }
  .input-group__input-field--no-border {
    border: 0; }

.input-group .btn {
  border-radius: 0 2px 2px 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 40px;
  margin-bottom: 1.5rem;
  padding-top: 0;
  padding-bottom: 0; }

.top-banner-section--about-pg {
  margin-bottom: 6rem; }

.top-banner-section__container {
  padding: 0; }
  @media only screen and (min-width: 992px) {
    .top-banner-section__container {
      padding: 0 60px; } }

.top-banner-section__content {
  background-position: center top;
  background-size: cover;
  background-color: #5ec8d5;
  padding: 23rem 1.5rem 2.5rem 1.5rem;
  position: relative; }
  @media only screen and (min-width: 992px) {
    .top-banner-section__content {
      padding: 15rem 7.5rem; } }
  .top-banner-section__content-inner {
    margin: 0 auto;
    text-align: center; }
    @media only screen and (min-width: 992px) {
      .top-banner-section__content-inner {
        margin: 0;
        text-align: left; } }
    @media only screen and (min-width: 992px) {
      .top-banner-section__content-inner--about-pg {
        max-width: 62.5rem; } }

.top-banner-section__title {
  color: #fff;
  font-size: 3.25rem;
  line-height: normal;
  margin: 0 0 2rem; }
  @media only screen and (min-width: 992px) {
    .top-banner-section__title {
      font-size: 7.65rem;
      margin: 0 0 5rem; } }

.top-banner-section__description {
  padding-bottom: 3rem; }

.top-banner-section__actions .btn {
  display: block;
  margin-bottom: 1rem; }
  @media only screen and (min-width: 576px) {
    .top-banner-section__actions .btn {
      display: inline-block;
      margin-right: 1.5rem; } }

.btn {
  border: 0;
  background-image: none;
  color: #000;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 0;
  padding: 1rem 1.5rem;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  white-space: nowrap;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }
  .btn:hover, .btn:active, .btn:focus {
    text-decoration: none; }
  .btn--primary {
    background-color: #ee2761;
    border: 1px solid #ee2761;
    color: #fff; }
    .btn--primary:hover, .btn--primary:active, .btn--primary:focus {
      color: #fff;
      border-color: #af1e48;
      background-color: #af1e48; }
  .btn--white {
    background-color: #fff;
    border: "" solid "";
    color: #ee2761; }
    .btn--white:hover, .btn--white:active, .btn--white:focus {
      color: #fff;
      border-color: "";
      background-color: #ee2761; }
  .btn--white-bordered {
    background-color: "";
    border: 1px solid #fff;
    color: #fff; }
    .btn--white-bordered:hover, .btn--white-bordered:active, .btn--white-bordered:focus {
      color: #fff;
      border-color: #dddddd;
      background-color: ""; }
  .btn--black-bordered {
    background-color: #fff;
    border: 1px solid #212032;
    color: #212032; }
    .btn--black-bordered:hover, .btn--black-bordered:active, .btn--black-bordered:focus {
      color: #212032;
      border-color: #d8dae0;
      background-color: ""; }
  .btn--dark-blue {
    background-color: #282365;
    border: "" solid "";
    color: #fff; }
    .btn--dark-blue:hover, .btn--dark-blue:active, .btn--dark-blue:focus {
      color: #ee2761;
      border-color: "";
      background-color: #fff; }
  .btn--dark-blue-light {
    background-color: #282562;
    border: "" solid "";
    color: #fff; }
    .btn--dark-blue-light:hover, .btn--dark-blue-light:active, .btn--dark-blue-light:focus {
      color: #fff;
      border-color: "";
      background-color: #212032; }
  .btn--success {
    background-color: #32b259;
    border: "" solid "";
    color: #fff; }
    .btn--success:hover, .btn--success:active, .btn--success:focus {
      color: #fff;
      border-color: "";
      background-color: #12652c; }
  .btn--share {
    background-color: #fff;
    border: 1px solid #212032;
    color: #212032;
    line-height: 2.6rem;
    padding: 0.6rem 1.5rem; }
    .btn--share:hover, .btn--share:active, .btn--share:focus {
      color: #212032;
      border-color: #d8dae0;
      background-color: ""; }
    .btn--share .icon {
      margin-right: 3px;
      width: 24px;
      height: 24px;
      vertical-align: top; }
    .btn--share .facebook {
      background-position: 0 -96px; }
    .btn--share .twitter {
      background-position: 0 -120px; }
  .btn--info {
    background-color: #30AAE1;
    border: 1px solid #30AAE1;
    color: #fff; }
    .btn--info:hover, .btn--info:active, .btn--info:focus {
      color: #fff;
      border-color: #428c95;
      background-color: #428c95; }
  .btn--warning {
    color: #f0ad4e;
    border-color: #f0ad4e; }
    .btn--warning:hover, .btn--warning:active, .btn--warning:focus {
      background-color: #f0ad4e;
      border-color: #f0ad4e;
      color: #fff; }
  @media only screen and (min-width: 768px) {
    .btn--big, .cart-subtotal-section__actions .btn {
      padding: 1.5rem 4rem;
      font-size: 1.6rem; } }

/*** HEADER ***/
.main-header-placeholder {
  background-color: #fff; }

.main-header {
  width: 100%; }
  @media only screen and (min-width: 992px) {
    .main-header {
      position: relative;
      z-index: 10; } }
  .main-header-container {
    width: 100%;
    z-index: 999; }
  .main-header-top-container {
    border-bottom: 1px solid #eeedf2; }
  .main-header-top__logo {
    width: 100px;
    height: 30px;
    background: url("/Library/Images/logo.png") no-repeat;
    background-size: 100%;
    display: block;
    float: left;
    position: relative;
    margin: 2rem 0; }
  .main-header-top__nav {
    display: none;
    float: right;
    margin: 2.3rem 0 1rem; }
    @media only screen and (min-width: 992px) {
      .main-header-top__nav {
        display: inline-block; } }
    .main-header-top__nav ul li {
      display: inline-block;
      vertical-align: top; }
      .main-header-top__nav ul li .top-nav-item-link {
        color: #0a0918;
        padding: 0 1rem;
        text-decoration: none;
        white-space: nowrap; }
        .main-header-top__nav ul li .top-nav-item-link--active, .main-header-top__nav ul li .top-nav-item-link:hover, .main-header-top__nav ul li .top-nav-item-link:focus, .main-header-top__nav ul li .top-nav-item-link:active {
          color: #ee2761; }
        .main-header-top__nav ul li .top-nav-item-link--active {
          font-weight: 700; }
  .main-header-inner {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    height: 100%; }
  .main-header-logo {
    width: 100px;
    height: 30px;
    background: url("/Library/Images/logo.png") no-repeat;
    background-size: 100%;
    display: block;
    float: left;
    position: relative; }
  .main-header-button {
    background-position: -24px 0;
    background-color: transparent;
    font-size: 0;
    margin: 2rem 0;
    width: 38px;
    height: 30px;
    display: block;
    float: right;
    border: none;
    outline: none; }
    @media only screen and (min-width: 992px) {
      .main-header-button {
        margin-right: 20px; } }
  @media only screen and (min-width: 992px) {
    .main-header-button.mobile-menu-button {
      display: none; } }

.main-nav {
  display: none; }
  @media only screen and (min-width: 992px) {
    .main-nav {
      display: inline-block; } }

.main-nav-item {
  float: left; }
  .main-nav-item__sub-nav {
    display: none;
    background-color: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08) inset;
    -moz-box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08) inset;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08) inset;
    border: solid 0.5px #edeff3;
    overflow: hidden;
    padding: 1.6rem 60px 0;
    position: absolute;
    left: -60px;
    right: -60px;
    z-index: 1; }
    .main-nav-item__sub-nav ul {
      display: inline-block;
      margin-right: 3.75rem;
      vertical-align: top; }
      .main-nav-item__sub-nav ul li a {
        color: #575c5f;
        display: inline-block;
        margin-bottom: 2.2rem;
        text-decoration: none; }
        .main-nav-item__sub-nav ul li a:hover {
          color: #af1e48; }
  .main-nav-item:hover .main-nav-item-link {
    border-bottom-color: #0a0918; }
  .main-nav-item:hover .main-nav-item__sub-nav {
    display: block; }

.main-nav-item--current {
  font-weight: 700; }

.main-nav-item-link {
  /*line-height: $header-height + 14px;*/
  /*height: $header-height;*/
  border-bottom: 0.3rem solid #fff;
  color: #575c5f;
  display: inline-block;
  letter-spacing: 1px;
  margin-right: 2.2rem;
  padding: 1.8rem 0 1.4rem;
  text-decoration: none !important;
  white-space: nowrap; }
  .main-nav-item-link:hover, .main-nav-item-link:focus, .main-nav-item-link:active {
    color: #333; }

/*** END HEADER ***/
.mobile-nav {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-y: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .mobile-nav__content {
    position: relative;
    top: 120px;
    width: 100%;
    text-align: center; }
  .mobile-nav__item {
    position: relative; }
    .mobile-nav__item.active .mobile-nav__toggle-level {
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
      transition: -webkit-transform 200ms ease;
      -o-transition: transform 200ms ease;
      transition: transform 200ms ease;
      transition: transform 200ms ease, -webkit-transform 200ms ease;
      -moz-transition: -moz-transform 200ms ease;
      -ms-transition: -ms-transform 200ms ease;
      -o-transition: -o-transform 200ms ease;
      -webkit-transition: -webkit-transform 200ms ease; }
  .mobile-nav__item-link {
    padding: 8px 50px 8px 0;
    text-decoration: none;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .mobile-nav__item-link:hover, .mobile-nav__item-link:focus {
      text-decoration: underline; }
  .mobile-nav__closebtn {
    position: absolute;
    top: 11px;
    right: 2px;
    color: #212032;
    font-size: 6rem;
    line-height: 36px;
    text-decoration: none;
    padding: 0 20px 0 21px; }
    .mobile-nav__closebtn:before {
      content: "";
      display: block;
      position: absolute;
      border: 3px solid #212032;
      border-radius: 50%;
      width: 46px;
      height: 46px;
      left: 15px;
      top: -3px; }
    .mobile-nav__closebtn:hover, .mobile-nav__closebtn:active, .mobile-nav__closebtn:focus {
      color: #212032;
      text-decoration: none; }
  .mobile-nav__toggle-level {
    position: absolute;
    right: 40px;
    top: 14px;
    z-index: 99;
    cursor: pointer;
    width: 40px;
    height: 40px; }
    .mobile-nav__toggle-level:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 12px solid #000;
      position: absolute;
      right: 10px;
      top: 14px; }
  .mobile-nav .has-children ul {
    display: none;
    font-size: 2.4rem;
    padding-right: 40px; }
    .mobile-nav .has-children ul a {
      color: #4A4A4A; }

@media screen and (max-height: 450px) {
  .mobile-nav {
    overflow-y: auto; } }

/*** START breadcrumbs ***/
.breadcrumbs {
  display: none;
  font-size: 1.2rem;
  padding: 0;
  margin: 0 0 1rem 0;
  width: 100%;
  -webkit-overflow-scrolling: touch; }
  @media only screen and (min-width: 992px) {
    .breadcrumbs {
      display: block; } }
  .breadcrumbs .container {
    padding: 0;
    width: auto; }
  .breadcrumbs ul {
    border: none;
    margin: 0;
    padding: 10px 0;
    list-style-type: none; }
    .breadcrumbs ul li {
      color: #0a0918;
      display: table-cell;
      vertical-align: middle;
      padding: 0;
      margin: 0;
      padding-right: 24px;
      position: relative; }
      .breadcrumbs ul li:before {
        content: "/";
        color: #b8bdc5;
        position: absolute;
        right: 10px; }
      .breadcrumbs ul li:last-child:before {
        content: ""; }
      .breadcrumbs ul li a {
        color: #b8bdc5;
        display: block;
        text-decoration: none;
        vertical-align: center;
        white-space: nowrap; }
        .breadcrumbs ul li a span {
          display: block; }
        .breadcrumbs ul li a .title {
          display: block;
          max-width: 140px;
          white-space: nowrap;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis; }
        .breadcrumbs ul li a:hover .title {
          color: #ee2761; }

/*** END breadcrumbs ***/
.category-listing-column {
  display: none;
  font-weight: 700; }
  @media only screen and (min-width: 768px) {
    .category-listing-column {
      display: block; } }
  .category-listing-column__link {
    color: #ee2761;
    margin-bottom: 2.5rem; }
    .category-listing-column__link:hover {
      color: #af1e48; }
  .category-listing-column__nav {
    padding: 1.6em 1.4em;
    margin: 0; }
    .category-listing-column__nav--has-bg {
      background-color: #f6f6f9; }
    .category-listing-column__nav a {
      display: inline-block;
      text-decoration: none; }
    .category-listing-column__nav--current > a {
      color: #6a6f72;
      margin-bottom: 0.8rem; }
  .category-listing-column__subnav {
    padding: 0 0 0 2.4rem;
    margin: 0; }
    .category-listing-column__subnav a {
      color: #6a6f72;
      margin-bottom: 0.8rem; }
      .category-listing-column__subnav a:hover {
        color: #5ec8d5; }

.category-listing-column-input:checked ~ .category-listing-column {
  display: block; }

.category-listing-column-btn {
  background: #f6f6f9;
  border-left: 1px solid #edeff3;
  position: relative;
  color: #ee2761;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 1.5em;
  margin-bottom: 1.5rem;
  padding: 1rem 2.5rem 1rem 1.5rem; }
  @media only screen and (min-width: 768px) {
    .category-listing-column-btn {
      display: none; } }
  .category-listing-column-btn:before {
    display: none !important; }
  .category-listing-column-btn:after {
    content: "";
    height: 0;
    position: absolute;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #ee2761;
    top: 45%;
    right: 10px;
    -webkit-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear; }

/*** START FOOTER ***/
.footer {
  background: #282562;
  color: #fff;
  line-height: 1.7; }
  .footer__nav {
    letter-spacing: -4px; }
    .footer__nav li {
      display: inline-block;
      letter-spacing: normal;
      padding: 0 2.8rem 1rem 0;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      vertical-align: middle;
      width: 50%; }
      @media only screen and (min-width: 576px) {
        .footer__nav li {
          width: 33.333%; } }
      @media only screen and (min-width: 768px) {
        .footer__nav li {
          width: auto; } }
  .footer__link {
    color: #fff;
    text-decoration: none; }
    .footer__link:hover {
      color: #fff;
      opacity: 0.5;
      text-decoration: none; }
    @media only screen and (min-width: 768px) {
      .footer__link--help {
        min-width: 9rem;
        background-color: #ee2761;
        padding: 0.8rem 1.5rem;
        text-align: center;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px; }
        .footer__link--help:hover {
          background-color: #af1e48;
          opacity: 1; } }
  .footer__icon {
    float: right; }
    .footer__icon a {
      margin-right: 3px;
      opacity: 0.5;
      width: 24px;
      height: 24px; }
      .footer__icon a:last-child {
        margin-right: 0; }
      .footer__icon a:hover {
        opacity: 1; }
    .footer__icon .facebook {
      background-position: 0 0; }
    .footer__icon .twitter {
      background-position: 0 -24px; }
    .footer__icon .instagram {
      background-position: 0 -48px; }
    .footer__icon .pinterest {
      background-position: 0 -72px; }
  .footer__rich-text a {
    color: #fff;
    text-decoration: none; }
    .footer__rich-text a:hover {
      text-decoration: underline; }
  .footer__copyrights-bar {
    margin: 1.8rem 0 0 0; }
    .footer__copyrights-bar__copyrights-text {
      float: left; }

/*** END FOOTER ***/
.form-head {
  max-width: 580px;
  padding-left: 115px;
  padding-top: 80px; }
  .form-head h2 {
    font-size: 2rem;
    margin-bottom: 4px; }
    @media only screen and (min-width: 992px) {
      .form-head h2 {
        font-size: 3.6rem;
        letter-spacing: 1px; } }
  .form-head h5 {
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: #fff; }
    @media only screen and (min-width: 992px) {
      .form-head h5 {
        font-size: 2.4rem;
        letter-spacing: 1px; } }
  .form-head__info {
    color: #4A4A4A; }

.form-block {
  max-width: 580px;
  margin: 40px auto 30px auto; }
  .form-block h3 {
    letter-spacing: 2px;
    padding: 0 10px;
    clear: both; }
  .form-block-header h3 {
    padding: 0; }
  .form-block-group {
    overflow: auto;
    clear: both;
    padding: 0 10px;
    margin-bottom: 12px; }
    .form-block-group--half {
      width: 50%;
      float: left;
      clear: none; }
    .form-block-group label {
      display: block;
      text-transform: uppercase;
      font-weight: 600;
      margin: 10px 0;
      letter-spacing: 1px; }
      .form-block-group label.error {
        text-transform: inherit;
        color: #FF0000;
        margin-bottom: 0; }
    .form-block-group input {
      width: 100%;
      height: 60px;
      border: 2px solid #000;
      padding: 20px;
      letter-spacing: 1px;
      outline: 0; }
      .form-block-group input.error {
        border-color: #FF0000; }
    .form-block-group textarea {
      max-width: 100%;
      width: 100%;
      min-height: 220px;
      border: 2px solid #000;
      padding: 20px;
      letter-spacing: 1px;
      outline: 0;
      resize: vertical; }
      .form-block-group textarea.error {
        border-color: #FF0000; }
    .form-block-group input[type="radio"] + label {
      font-weight: bold;
      padding-top: 10px; }
  .form-block-terms {
    position: relative; }
    .form-block-terms--checkbox input[type=checkbox] {
      left: 0;
      top: 2px; }
    .form-block-terms--checkbox input[type=checkbox] + label:before {
      display: none; }
    .form-block-terms--checkbox input.error ~ label {
      color: #FF0000; }
  .form-block-msg {
    margin: 20px 0 20px 10px;
    color: #4A4A4A; }
  .form-block-terms {
    color: #4A4A4A;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 30px;
    position: relative;
    width: 300px;
    float: left; }
    .form-block-terms label:before {
      width: 20px !important;
      height: 20px !important;
      top: 3px !important; }
    .form-block-terms input[type=checkbox]:checked + label:before {
      background-position: -62px -412px !important; }
  .form-block-footer {
    padding: 20px 10px;
    clear: both; }

.btn--submit {
  background: #000;
  color: #fff;
  height: 60px;
  min-width: 160px;
  border-radius: 0; }

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 1rem 0;
  border-radius: 0.25rem; }
  .pagination > li {
    display: inline; }
    .pagination > li > a,
    .pagination > li > span {
      position: relative;
      float: left;
      padding: 0.5rem 1.2rem;
      line-height: 1.25;
      text-decoration: none;
      color: #b8bdc5;
      background-color: #fff;
      border: 0 solid #ddd;
      margin-left: -1px; }
    .pagination > li:first-child > a,
    .pagination > li:first-child > span {
      margin-left: 0;
      -webkit-border-bottom-left-radius: 0.25rem;
      -moz-border-bottom-left-radius: 0.25rem;
      -ms-border-bottom-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      -webkit-border-top-left-radius: 0.25rem;
      -moz-border-top-left-radius: 0.25rem;
      -ms-border-top-left-radius: 0.25rem;
      border-top-left-radius: 0.25rem; }
    .pagination > li:last-child > a,
    .pagination > li:last-child > span {
      -webkit-border-bottom-right-radius: 0.25rem;
      -moz-border-bottom-right-radius: 0.25rem;
      -ms-border-bottom-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      -webkit-border-top-right-radius: 0.25rem;
      -moz-border-top-right-radius: 0.25rem;
      -ms-border-top-right-radius: 0.25rem;
      border-top-right-radius: 0.25rem; }
  .pagination > li > a:hover, .pagination > li > a:focus,
  .pagination > li > span:hover,
  .pagination > li > span:focus {
    z-index: 2;
    color: #5ec8d5;
    background-color: transparent;
    border-color: #007bff; }
  .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
  .pagination > .active > span,
  .pagination > .active > span:hover,
  .pagination > .active > span:focus {
    z-index: 3;
    color: #0a0918;
    background-color: transparent;
    border-color: #007bff;
    cursor: default; }
  .pagination > .disabled > span,
  .pagination > .disabled > span:hover,
  .pagination > .disabled > span:focus,
  .pagination > .disabled > a,
  .pagination > .disabled > a:hover,
  .pagination > .disabled > a:focus {
    color: #868e96;
    background-color: #fff;
    border-color: #ddd;
    cursor: default; }

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 0.75rem 1.5rem;
  font-size: 1.8rem;
  line-height: 1.3; }

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  -webkit-border-bottom-left-radius: 0.6rem;
  -moz-border-bottom-left-radius: 0.6rem;
  -ms-border-bottom-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  -webkit-border-top-left-radius: 0.6rem;
  -moz-border-top-left-radius: 0.6rem;
  -ms-border-top-left-radius: 0.6rem;
  border-top-left-radius: 0.6rem; }

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  -webkit-border-bottom-right-radius: 0.6rem;
  -moz-border-bottom-right-radius: 0.6rem;
  -ms-border-bottom-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  -webkit-border-top-right-radius: 0.6rem;
  -moz-border-top-right-radius: 0.6rem;
  -ms-border-top-right-radius: 0.6rem;
  border-top-right-radius: 0.6rem; }

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 0.25rem 0.5rem;
  font-size: 1.2rem;
  line-height: 1.5; }

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  -webkit-border-bottom-left-radius: 0.3rem;
  -moz-border-bottom-left-radius: 0.3rem;
  -ms-border-bottom-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  -webkit-border-top-left-radius: 0.3rem;
  -moz-border-top-left-radius: 0.3rem;
  -ms-border-top-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem; }

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  -webkit-border-bottom-right-radius: 0.3rem;
  -moz-border-bottom-right-radius: 0.3rem;
  -ms-border-bottom-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  -webkit-border-top-right-radius: 0.3rem;
  -moz-border-top-right-radius: 0.3rem;
  -ms-border-top-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem; }

.pagination-section {
  text-align: center; }
  .pagination-section__pagination {
    font-size: 1.6rem;
    font-weight: 700; }

.target-section .zoomContainer {
  z-index: -1; }
  .target-section .zoomContainer.active {
    z-index: 1; }

.target-section .zoomLens {
  display: none !important; }

.target-section .zoomContainer,
.target-section .zoomWindow {
  left: 7px !important;
  top: 0 !important;
  width: calc(100% - 15px) !important; }

/*** PAGES ***/
.search-section__container {
  padding: 0; }
  @media only screen and (min-width: 992px) {
    .search-section__container {
      padding: 0 60px; } }

.search-section__content {
  background-position: center top;
  background-size: cover;
  min-height: 30rem;
  padding-top: 36.25%;
  position: relative; }
  .search-section__content-inner {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 550px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    -moz-transform: translateY(-50%) translateX(0);
    -ms-transform: translateY(-50%) translateX(0);
    -o-transform: translateY(-50%) translateX(0);
    -webkit-transform: translateY(-50%) translateX(0);
    transform: translateY(-50%) translateX(0); }
    @media only screen and (min-width: 992px) {
      .search-section__content-inner {
        margin: 0 8rem;
        text-align: left; } }

.search-section__title {
  color: #fff;
  font-size: 3.25rem;
  line-height: normal;
  margin: 0 0 2rem; }
  @media only screen and (min-width: 992px) {
    .search-section__title {
      font-size: 7.65rem;
      margin: 0 0 5rem; } }

.search-section .input-group__input-wrapper {
  margin: 0 auto;
  max-width: 285px; }
  @media only screen and (min-width: 992px) {
    .search-section .input-group__input-wrapper {
      margin: 0;
      max-width: 390px; } }

.search-section .input-group__input-field {
  border: 0;
  margin: 0; }

.search-section .input-group .btn {
  margin: 0;
  padding: 0;
  min-width: 75px; }

.design-own-section {
  margin-bottom: 5rem; }
  .design-own-section__container {
    padding: 0; }
    @media only screen and (min-width: 992px) {
      .design-own-section__container {
        padding: 0 60px; } }
  .design-own-section__content {
    background-color: #212032;
    color: #fff;
    padding: 1.5rem 1rem;
    text-align: center; }
    .design-own-section__content p {
      margin: 0 0 1rem 0; }
      @media only screen and (min-width: 992px) {
        .design-own-section__content p {
          display: inline;
          margin: 0 1rem 0 0; } }
      .design-own-section__content p span {
        font-weight: 700; }

.enlarged-img-section {
  margin-bottom: 7rem; }
  @media only screen and (min-width: 768px) {
    .enlarged-img-section__left-wrap {
      padding-right: 0; } }
  @media only screen and (min-width: 768px) {
    .enlarged-img-section__right-wrap {
      padding-left: 0; } }
  .enlarged-img-section__image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 23rem; }
    @media only screen and (min-width: 768px) {
      .enlarged-img-section__image {
        height: 100%; } }
  .enlarged-img-section__content-wrap {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .enlarged-img-section__content {
    padding: 3rem 25%;
    text-align: center;
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .enlarged-img-section__content {
        padding: 10rem 12% 11.5rem;
        text-align: left; } }
    .enlarged-img-section__content h3 {
      color: #f41e68;
      display: none;
      font-size: 3rem;
      line-height: 2.5rem; }
      @media only screen and (min-width: 768px) {
        .enlarged-img-section__content h3 {
          display: block;
          font-size: 6rem;
          line-height: 5rem; } }
    .enlarged-img-section__content h4 {
      color: #fff;
      font-size: 2.5rem;
      line-height: 3rem; }
      @media only screen and (min-width: 768px) {
        .enlarged-img-section__content h4 {
          font-size: 5rem;
          line-height: 6rem; } }
    .enlarged-img-section__content p {
      color: #fff;
      font-size: 1.4rem; }
      @media only screen and (min-width: 768px) {
        .enlarged-img-section__content p {
          font-size: 2.5rem; } }
    .enlarged-img-section__content .btn {
      margin-top: 2.5rem; }
      @media only screen and (min-width: 768px) {
        .enlarged-img-section__content .btn {
          min-width: 20rem;
          margin-top: 10.5rem; } }
      .enlarged-img-section__content .btn--over-img-after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1.5rem;
        z-index: 1;
        max-width: 150px;
        margin: 0 auto; }
        @media only screen and (min-width: 768px) {
          .enlarged-img-section__content .btn--over-img-after {
            margin-top: 10.5rem;
            position: initial; } }

.video-section__wrap {
  padding: 2rem; }
  @media only screen and (min-width: 768px) {
    .video-section__wrap {
      padding: 6rem; } }

.video-section__content-wrap {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.video-section__content {
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .video-section__content {
      text-align: left; } }
  .video-section__content h4 {
    color: #282562;
    font-size: 3rem;
    margin-bottom: 1.8rem; }
  .video-section__content p {
    display: none;
    line-height: 3rem; }
    @media only screen and (min-width: 768px) {
      .video-section__content p {
        display: block; } }
  .video-section__content .btn {
    display: none; }
    @media only screen and (min-width: 768px) {
      .video-section__content .btn {
        display: inline-block; } }

.header-after-section {
  background-image: -webkit-linear-gradient(91deg, #282562, #ee2761);
  background-image: -webkit-linear-gradient(359deg, #282562, #ee2761);
  background-image: -o-linear-gradient(359deg, #282562, #ee2761);
  background-image: linear-gradient(91deg, #282562, #ee2761);
  color: #fff;
  margin-bottom: 3.4rem;
  padding: 5rem 0 5.1rem; }
  .header-after-section__title {
    color: #fff;
    font-size: 2.5rem; }
    @media only screen and (min-width: 768px) {
      .header-after-section__title {
        font-size: 4rem; } }
  .header-after-section__description {
    display: none;
    font-weight: 700;
    line-height: 2.3rem;
    max-width: 575px;
    padding: 0; }
    @media only screen and (min-width: 992px) {
      .header-after-section__description {
        display: block; } }

.products-section {
  margin-bottom: 4rem; }
  .products-section__title {
    color: #0a0918;
    margin: 0 0 1.5rem; }
    .products-section__title--sm {
      color: #282562;
      font-size: 1.7rem; }
    .products-section__title .link-ahead {
      font-size: 1.4rem;
      margin-left: 1.5rem;
      display: none; }
      @media only screen and (min-width: 992px) {
        .products-section__title .link-ahead {
          display: inline-block; } }
    .products-section__title .link-right-most {
      float: right;
      font-size: 1.4rem;
      font-weight: normal;
      margin-left: 1.5rem;
      display: none; }
      @media only screen and (min-width: 992px) {
        .products-section__title .link-right-most {
          display: inline-block; } }
  .products-section__item {
    margin-bottom: 2.5rem; }
    .products-section__item-container {
      display: block;
      position: relative;
      text-decoration: none; }
      @media only screen and (min-width: 768px) {
        .products-section__item-container {
          text-align: center; } }
      .products-section__item-container:hover {
        text-decoration: none; }
      .products-section__item-container span {
        display: block; }
    .products-section__item-img-holder {
      margin-bottom: 0.5rem; }
    .products-section__item-name {
      color: #0a0918;
      font-size: 1.3rem;
      font-weight: 700;
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; }
      @media only screen and (min-width: 992px) {
        .products-section__item-name {
          white-space: nowrap; } }
      .products-section__item-name--overlap {
        font-size: 2rem;
        margin: 0 0 0 2rem;
        max-width: 10rem;
        text-align: left;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        white-space: inherit;
        overflow: visible;
        -ms-text-overflow: inherit;
        -o-text-overflow: inherit;
        text-overflow: inherit;
        -moz-transform: translateY(-50%) translateX(0);
        -ms-transform: translateY(-50%) translateX(0);
        -o-transform: translateY(-50%) translateX(0);
        -webkit-transform: translateY(-50%) translateX(0);
        transform: translateY(-50%) translateX(0); }
        @media only screen and (min-width: 768px) {
          .products-section__item-name--overlap {
            margin: 0 0 0 4rem; } }
    .products-section__item-meta {
      color: #6a6f72;
      font-size: 1.2rem;
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; }
      @media only screen and (min-width: 992px) {
        .products-section__item-meta {
          white-space: nowrap; } }

.related-categories-section {
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .related-categories-section {
      text-align: left; } }
  .related-categories-section__title {
    font-size: 1.3rem;
    font-weight: normal;
    margin-bottom: 1.8rem; }
  .related-categories-section .btn {
    font-size: 1.2rem;
    margin: 0 1rem 3.2rem 0;
    padding: 0.6rem 1rem;
    vertical-align: top; }
    .related-categories-section .btn:hover {
      text-decoration: none; }

.product-image-section {
  margin-bottom: 2.5rem;
  position: relative; }
  .product-image-section__img-holder {
    text-align: center; }
    .product-image-section__img-holder img {
      max-height: 522px; }
  @media only screen and (min-width: 992px) {
    .product-image-section__img-gallery {
      position: absolute;
      left: 0;
      top: 0; } }
  .product-image-section__img-gallery ul li {
    border: 1px solid #edeff3;
    border-radius: 3px;
    display: inline-block;
    height: 5rem;
    margin: 0 0 1rem 0;
    overflow: hidden;
    vertical-align: top;
    width: 5rem; }
    @media only screen and (min-width: 992px) {
      .product-image-section__img-gallery ul li {
        display: block; } }
    .product-image-section__img-gallery ul li img {
      display: block;
      opacity: 0.5; }
    .product-image-section__img-gallery ul li:hover, .product-image-section__img-gallery ul li.active {
      border-color: #ee2761;
      opacity: 1; }

.product-top-details-section {
  margin-bottom: 2.5rem; }
  .product-top-details-section__title {
    margin-bottom: 0.4rem; }
  .product-top-details-section__vendor {
    font-size: 1.2rem; }
  .product-top-details-section__short-description {
    margin-top: 2rem; }
    .product-top-details-section__short-description p {
      line-height: 2.6rem;
      padding: 0 0 2.8rem; }
  .product-top-details-section__options {
    background-color: #f6f6f9;
    border: 1px solid #edeff3;
    border-radius: 2px;
    padding: 2.5rem 1.6rem 0 1.6rem; }
    .product-top-details-section__options-label {
      font-size: 1.2rem;
      font-weight: 700;
      margin-bottom: 0.3rem; }
    .product-top-details-section__options-dropdown select {
      border: 1px solid #d8dae0;
      border-radius: 2px;
      color: #0a0918;
      margin-bottom: 1.1rem;
      padding: 1.1rem 1rem;
      width: 100%; }
    .product-top-details-section__options-products {
      margin-bottom: 2.9rem; }
      .product-top-details-section__options-products ul {
        letter-spacing: -4px; }
        .product-top-details-section__options-products ul li {
          border: 2px solid #edeff3;
          border-radius: 3px;
          display: inline-block;
          height: 5.3rem;
          letter-spacing: normal;
          margin: 0 1rem 1rem 0;
          overflow: hidden;
          -webkit-transition: all 400ms ease-out;
          -o-transition: all 400ms ease-out;
          transition: all 400ms ease-out;
          vertical-align: top;
          width: 7.5rem; }
          .product-top-details-section__options-products ul li img {
            display: block;
            opacity: 0.5; }
          .product-top-details-section__options-products ul li:hover, .product-top-details-section__options-products ul li.active {
            border-color: #ee2761;
            opacity: 1; }
    .product-top-details-section__options-size-search {
      font-size: 1.1rem;
      margin-bottom: 2.6rem; }
      .product-top-details-section__options-size-search a {
        color: #ee2761;
        text-decoration: underline; }
        .product-top-details-section__options-size-search a:hover {
          text-decoration: none; }
    .product-top-details-section__options-color-palette {
      margin-bottom: 1.6rem; }
      .product-top-details-section__options-color-palette ul {
        letter-spacing: -4px;
        margin-top: 0.9rem; }
        .product-top-details-section__options-color-palette ul li {
          background: #fff;
          border: 1px solid #d8dae0;
          border-radius: 100%;
          cursor: pointer;
          display: inline-block;
          height: 36px;
          padding: 0.3rem;
          letter-spacing: normal;
          margin: 0 1.1rem 1rem 0;
          position: relative;
          vertical-align: top;
          width: 36px; }
          .product-top-details-section__options-color-palette ul li span {
            border-radius: 100%;
            position: absolute;
            top: 0.3rem;
            right: 0.3rem;
            bottom: 0.3rem;
            left: 0.3rem; }
          .product-top-details-section__options-color-palette ul li:hover, .product-top-details-section__options-color-palette ul li.active {
            border-color: #ee2761; }
    .product-top-details-section__options-actions .btn {
      border-radius: 0 0 2px 2px;
      display: block;
      margin: 0 -1.7rem; }
  .product-top-details-section .zoomContainer {
    display: none; }
    @media only screen and (min-width: 992px) {
      .product-top-details-section .zoomContainer {
        display: block; } }

.product-description-section__block-single {
  margin-bottom: 2rem; }

.product-description-section__title-holder {
  border-bottom: 1px solid #edeff3;
  margin-bottom: 0.7rem;
  padding-bottom: 0.1rem; }

.product-description-section h4 {
  font-weight: normal; }

.product-description-section p {
  font-size: 1.3rem;
  line-height: 2.2rem;
  padding: 0 0 0.5rem; }

.product-description-section ul li {
  padding: 0 0 0.5rem 1.8rem; }

.product-description-section a {
  color: #428c95;
  font-weight: 600;
  text-decoration: underline; }
  .product-description-section a:hover {
    text-decoration: none; }

.product-sharing-section {
  margin: 0.5rem auto 3rem auto; }
  @media only screen and (min-width: 992px) {
    .product-sharing-section {
      max-width: 340px; } }
  .product-sharing-section__title {
    font-weight: normal;
    margin-bottom: 2rem;
    text-align: center; }
  .product-sharing-section__buttons-holder {
    letter-spacing: -4px;
    margin: 0 -0.8rem 1rem; }
    .product-sharing-section__buttons-holder .btn {
      letter-spacing: normal;
      margin: 0 0.8rem 1rem;
      width: calc(50% - 1.6rem); }
  @media only screen and (min-width: 992px) {
    .product-sharing-section__report-about {
      text-align: center; } }
  .product-sharing-section__report-about a {
    color: #6a6f72;
    font-size: 1.2rem; }
    .product-sharing-section__report-about a:hover {
      color: #af1e48;
      text-decoration: none; }

.subpage {
  padding-top: 5rem; }
  .subpage h1,
  .subpage h2 {
    color: #282562;
    font-size: 3rem;
    margin: 0 0 2.7rem 0; }
    @media only screen and (min-width: 768px) {
      .subpage h1,
      .subpage h2 {
        font-size: 4rem; } }
  .subpage h3 {
    color: #282562;
    font-size: 2.5rem;
    margin: 0 0 2rem 0; }
    @media only screen and (min-width: 768px) {
      .subpage h3 {
        font-size: 3rem; } }
  .subpage h4 {
    color: #282562;
    font-size: 1.5rem;
    margin: 0 0 1rem 0; }
    @media only screen and (min-width: 768px) {
      .subpage h4 {
        font-size: 2rem; } }
  .subpage .style-disc {
    margin: 0 0 1.6rem 0;
    padding-left: 2rem; }
    .subpage .style-disc li {
      display: list-item;
      line-height: 2.75rem;
      list-style-type: disc;
      margin-bottom: 1.6rem; }
      .subpage .style-disc li:last-child {
        margin-bottom: 0; }

.page-listing-column__title {
  color: #6a6f72;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 3.4rem; }

.page-listing-column__nav {
  padding: 0;
  margin: 0; }
  .page-listing-column__nav li a {
    border-radius: 5px;
    color: #b8bdc5;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 0.8rem;
    padding: 0.8rem 1.5rem;
    text-decoration: none; }
    .page-listing-column__nav li a:hover {
      opacity: 0.5; }
  .page-listing-column__nav li.current a {
    background-color: #5ec8d5;
    color: #fff;
    cursor: default;
    pointer-events: none; }
    .page-listing-column__nav li.current a:hover {
      opacity: 1; }

.track-order-section__image-container {
  display: none;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .track-order-section__image-container {
      display: block; } }

.track-order-section .input-group__input-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  @media only screen and (min-width: 768px) {
    .track-order-section .input-group__input-wrapper {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; } }

.track-order-section .input-group__input-field {
  border-right-width: 1px; }

@media only screen and (min-width: 768px) {
  .track-order-section .input-group .btn {
    margin-left: 4.4rem; } }

.how-it-works-section {
  margin: 0 auto;
  max-width: 67rem;
  text-align: center; }
  .how-it-works-section__title {
    margin-bottom: 2.5rem; }
  .how-it-works-section__step-box {
    margin-bottom: 4rem; }
    .how-it-works-section__step-box img {
      margin-bottom: 1.5rem; }
    .how-it-works-section__step-box h3 {
      font-size: 2rem;
      margin-bottom: 1.5rem; }
    .how-it-works-section__step-box p {
      margin: 0 auto;
      max-width: 34rem; }

.products-section__title--about-pg {
  text-align: center; }

.products-section__description--about-pg {
  margin: 0 auto 2rem;
  max-width: 34rem;
  text-align: center; }

.popular-categories-section {
  margin-bottom: 3rem;
  text-align: center; }
  .popular-categories-section__caption {
    margin: 0 auto 3rem;
    max-width: 29rem; }
  .popular-categories-section__catrgories-holder {
    max-width: 67.5rem;
    margin: 0 auto;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media only screen and (min-width: 576px) {
      .popular-categories-section__catrgories-holder {
        -ms-flex-wrap: initial;
        flex-wrap: initial; } }
  .popular-categories-section__category-box {
    background-color: #f6f6f9;
    color: #282562;
    height: 120px;
    width: 47%;
    margin-bottom: 2rem;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media only screen and (min-width: 576px) {
      .popular-categories-section__category-box {
        width: 23%; } }
    .popular-categories-section__category-box:hover {
      background-color: #282562;
      color: #fff;
      text-decoration: none; }
    .popular-categories-section__category-box span {
      display: block; }

.pre-footer-about {
  background-color: #171a3a;
  padding: 2rem 0 10rem;
  margin-bottom: -6rem; }
  @media only screen and (min-width: 768px) {
    .pre-footer-about {
      margin-bottom: -8rem; } }
  @media only screen and (min-width: 992px) {
    .pre-footer-about {
      padding: 10rem 0; } }
  .pre-footer-about > .container {
    max-width: 100rem; }
  .pre-footer-about__title {
    color: #fff;
    line-height: 4.5rem;
    margin-bottom: 5rem;
    width: 100%;
    text-align: center; }
    @media only screen and (min-width: 992px) {
      .pre-footer-about__title {
        float: left;
        max-width: 45rem;
        margin-bottom: 2rem; } }
  .pre-footer-about__description {
    color: #fff;
    width: 100%;
    max-width: 45rem;
    margin: 0 auto;
    text-align: center; }
    @media only screen and (min-width: 992px) {
      .pre-footer-about__description {
        float: left; } }
    .pre-footer-about__description p {
      max-width: 25rem;
      margin: 0 auto; }
    .pre-footer-about__description .btn {
      display: block;
      min-width: 9rem; }
      @media only screen and (min-width: 576px) {
        .pre-footer-about__description .btn {
          display: inline-block; } }
  .pre-footer-about__img-holder {
    margin-bottom: 5rem;
    text-align: center; }
    @media only screen and (min-width: 992px) {
      .pre-footer-about__img-holder {
        margin-bottom: 0;
        float: right; } }

@media only screen and (min-width: 992px) {
  .cart-page {
    padding-top: 5rem; } }

.cart-items-section {
  margin-bottom: 4rem; }
  @media only screen and (min-width: 992px) {
    .cart-items-section {
      padding-right: 7.5rem; } }
  .cart-items-section__title {
    color: #282562;
    margin-bottom: 2.8rem; }

.cart-item-single {
  border-bottom: 1px solid #edeff3;
  padding: 2rem 0; }
  .cart-item-single:last-child {
    border-bottom: 0; }
  .cart-item-single__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    padding-bottom: 3.5rem;
    position: relative; }
    @media only screen and (min-width: 768px) {
      .cart-item-single__top {
        padding-bottom: 0; } }
  .cart-item-single__img a {
    border-radius: 4px;
    border: 1px solid #edeff3;
    display: inline-block;
    margin-right: 1.7rem;
    overflow: hidden;
    width: 51px;
    height: 51px; }
    @media only screen and (min-width: 768px) {
      .cart-item-single__img a {
        width: 68px;
        height: 68px;
        margin-right: 1.5rem; } }
  .cart-item-single__info {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-weight: 600;
    overflow: hidden;
    padding-top: 0.2rem; }
    @media only screen and (min-width: 768px) {
      .cart-item-single__info {
        padding-top: 0; } }
    .cart-item-single__info-title {
      font-size: 1.7rem;
      margin-bottom: 0.6rem; }
      @media only screen and (min-width: 768px) {
        .cart-item-single__info-title {
          font-size: 1.5rem;
          margin-bottom: 0.4rem; } }
      .cart-item-single__info-title a {
        white-space: nowrap;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        color: #212032;
        display: block; }
    .cart-item-single__info-description {
      font-size: 1.2rem;
      margin-bottom: 0.8rem;
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; }
      @media only screen and (min-width: 768px) {
        .cart-item-single__info-description {
          font-size: 1.4rem; } }
    .cart-item-single__info-time-left {
      position: absolute;
      left: 0;
      bottom: 0.3rem;
      color: #ee2761;
      font-size: 1.2rem;
      font-weight: normal; }
      @media only screen and (min-width: 768px) {
        .cart-item-single__info-time-left {
          font-weight: 600;
          position: initial; } }
  .cart-item-single__quantity {
    color: #b8bdc5;
    font-size: 1.5rem;
    padding-left: 1.3rem;
    padding-top: 0.3rem; }
    @media only screen and (min-width: 768px) {
      .cart-item-single__quantity {
        -ms-flex-item-align: center;
        align-self: center;
        padding-top: 0; } }
  .cart-item-single__price {
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 1.3rem;
    padding-top: 0.3rem; }
    @media only screen and (min-width: 768px) {
      .cart-item-single__price {
        -ms-flex-item-align: center;
        align-self: center;
        padding-top: 0; } }
  .cart-item-single__actions {
    position: absolute;
    bottom: 0;
    padding: 0;
    right: 0; }
    .cart-item-single__actions .btn {
      padding: 0.4rem 1.9rem; }
      @media only screen and (min-width: 768px) {
        .cart-item-single__actions .btn {
          padding: 0.2rem 1.6rem; } }
    @media only screen and (min-width: 768px) {
      .cart-item-single__actions {
        -ms-flex-item-align: center;
        align-self: center;
        padding-left: 2.1rem;
        position: initial; } }
  .cart-item-single__edit {
    background-color: #f6f6f9;
    padding: 1rem 1.5rem;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .cart-item-single__remove {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .cart-item-single__remove a {
      color: #6a6f72;
      font-size: 1.2rem; }
  .cart-item-single__variation {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .cart-item-single__variation-single {
      display: -webkit-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 2rem; }
      @media only screen and (min-width: 768px) {
        .cart-item-single__variation-single {
          margin-left: 3.5rem; } }
  .cart-item-single__variation-input {
    margin-left: 0.5rem; }
  .cart-item-single__variation-select, .cart-item-single__variation-number {
    border: 1px solid #d8dae0;
    height: 40px;
    padding: 0 0.5rem; }
  .cart-item-single__variation-select {
    width: 57.5px; }
    @media only screen and (min-width: 768px) {
      .cart-item-single__variation-select {
        width: 67.5px; } }
  .cart-item-single__variation-number {
    width: 50px; }
    @media only screen and (min-width: 768px) {
      .cart-item-single__variation-number {
        width: 60px; } }

.cart-subtotal-section {
  background-color: #f6f6f9;
  margin: 0 -15px 2rem;
  padding: 2.2rem; }
  @media only screen and (min-width: 992px) {
    .cart-subtotal-section {
      margin: 0 0 2rem; } }
  .cart-subtotal-section__title {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0.2rem; }
    .cart-subtotal-section__title-caption {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .cart-subtotal-section__title-caption span {
        font-weight: normal;
        padding-left: 0.5rem; }
    .cart-subtotal-section__title-total-value {
      color: #32b259; }
  .cart-subtotal-section__description {
    margin-bottom: 1.8rem; }
  .cart-subtotal-section__actions .btn {
    width: 100%; }
