<footer class="footer main-footer js-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="footer__nav">
                    <li><a class="footer__link" href="#">About</a></li>
                    <li><a class="footer__link" href="#">Blog</a></li>
                    <li><a class="footer__link" href="#">Jobs</a></li>
                    <li><a class="footer__link" href="#">Terms</a></li>
                    <li><a class="footer__link" href="#">Privacy</a></li>
                    <li><a class="footer__link" href="#">Security</a></li>
                    <li><a class="footer__link" href="#">Track Order</a></li>
                    <li><a class="footer__link" href="#">Training Center</a></li>
                    <li><a class="footer__link footer__link--help" href="#">Help</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__copyrights-bar">
        <div class="container clearfix">
            <div class="footer__copyrights-bar__copyrights-text">
                &copy; 2018 Teebox, Inc.
            </div>
            <div class="footer__icon">
                <a href="#" class="facebook sprite text-off" target="_blank">Facebook</a>
                <a href="#" class="twitter sprite text-off" target="_blank">Twitter</a>
                <a href="#" class="instagram sprite text-off" target="_blank">Instagram</a>
                <a href="#" class="pinterest sprite text-off" target="_blank">Pinterest</a>
            </div>
        </div>
    </div>
</footer>