<header class="main-header-placeholder js-header clearfix">
    <div class="main-header-top-container container">
        <div class="main-header-top clearfix">
            <nav class="main-header-top__nav">
                <ul>
                    <li>
                        <a class="top-nav-item-link" href="#">Start Designing</a>
                    </li>
                    <li>
                        <a class="top-nav-item-link" href="#">About Teebox</a>
                    </li>
                    <li>
                        <a class="top-nav-item-link top-nav-item-link--active" href="#">Login</a>
                    </li>
                </ul>
            </nav>
            <a href="/Library/HTML/index.html" class="main-header-top__logo sprite text-off" title="Logo">Logo</a>
            <button title="Menu" class="main-header-button mobile-menu-button  text-off js-mobile-menu-button">Menu</button>
        </div>
    </div>
    <div class="main-header-container container">
        <div class="main-header">
            <div class="main-header-inner">
                <nav class="main-nav">
                    <ul>
                        <li class="main-nav-item">
                            <a class="main-nav-item-link" href="#">Apparel</a>
                            <span class="main-nav-item__sub-nav">
                                <ul>
                                    <li><a href="#">Adventure</a></li>
                                    <li><a href="#">Animal Lover</a></li>
                                    <li><a href="#">Apparel</a></li>
                                    <li><a href="#">Artistic</a></li>
                                    <li><a href="#">Beer</a></li>
                                    <li><a href="#">For a cause</a></li>
                                    <li><a href="#">Funny</a></li>
                                    <li><a href="#">Hipster</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Hobbies</a></li>
                                    <li><a href="#">Holiday</a></li>
                                    <li><a href="#">Hoodies</a></li>
                                    <li><a href="#">Jobs</a></li>
                                    <li><a href="#">Lgbt</a></li>
                                    <li><a href="#">Leggings</a></li>
                                    <li><a href="#">Names</a></li>
                                    <li><a href="#">Patriotic</a></li>
                                </ul>
                            </span>
                        </li>
                        <li class="main-nav-item">
                            <a class="main-nav-item-link" href="#">Home Decor</a>
                        </li>
                        <li class="main-nav-item">
                            <a class="main-nav-item-link" href="#">Socks</a>
                        </li>
                        <li class="main-nav-item">
                            <a class="main-nav-item-link" href="#">Gift Guide</a>
                        </li>
                        <li class="main-nav-item">
                            <a class="main-nav-item-link" href="#">Phone Cases</a>
                        </li>
                        <li class="main-nav-item">
                            <a class="main-nav-item-link" href="#">Accessories</a>
                        </li>
                        <li class="main-nav-item">
                            <a class="main-nav-item-link" href="#">Mugs</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


    <div id="js-mobile-nav" class="mobile-nav">
        <a href="javascript:void(0);" class="mobile-nav__closebtn js-mobile-menu-close-button">&times;</a>

        <div class="mobile-nav__content">
            <ul>
                <li class="mobile-nav__item">
                    <a class="mobile-nav__item-link" href="#">Home</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="mobile-nav__item-link" href="#">Login</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="mobile-nav__item-link" href="#">How Teebox Works</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="mobile-nav__item-link" href="#">Track Your Order</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="mobile-nav__item-link" href="#">Create & Sell</a>
                </li>
            </ul>
        </div>
    </div>

</header>